main.aux
main.fdb_latexmk
main.fls
main.log
main.pdf
main.synctex.gz

pdflatex*.fls
main.toc
main.bbl
main.bcf
main.blg
main.run.xml
main.out
html
main.acn
main.acr
main.alg
main.glg
main.glo
main.gls
main.glsdefs
main.ist
main.lof
main.lot
main-blx.bib
main.bbl-SAVE-ERROR
main.bcf-SAVE-ERROR
main.dvi
