 
/* start css.sty */
.cmr-10{font-size:90%;}
.cmr-10x-x-109{}
.cmr-17{font-size:154%;}
.cmr-12{font-size:109%;}
.cmr-8{font-size:72%;}
.cmtt-10x-x-109{font-family: monospace,monospace;}
.cmbx-10x-x-109{ font-weight: bold;}
.cmmi-10x-x-109{font-style: italic;}
.cmsy-10x-x-109{}
.cmex-10x-x-109{}
.cmti-10x-x-109{ font-style: italic;}
.cmr-9{font-size:81%;}
.cmti-9{font-size:81%; font-style: italic;}
.cmti-8{font-size:72%; font-style: italic;}
p{margin-top:0;margin-bottom:0}
p.indent{text-indent:0;}
p + p{margin-top:1em;}
p + div, p + pre {margin-top:1em;}
div + p, pre + p {margin-top:1em;}
a { overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; hyphens: auto; }
@media print {div.crosslinks {visibility:hidden;}}
table.tabular{border-collapse: collapse; border-spacing: 0;}
a img { border-top: 0; border-left: 0; border-right: 0; }
center { margin-top:1em; margin-bottom:1em; }
td center { margin-top:0em; margin-bottom:0em; }
.Canvas { position:relative; }
img.math{vertical-align:middle;}
div.par-math-display, div.math-display{text-align:center;}
body{ margin:1em auto; max-width:80ch; padding:0 .62em; }
h1,h2,h3,h4,h5 { line-height:1.2; }
@media print{ body{ max-width:none } }
.partHead, .likepartHead { font-size: 2em; }
.chapterHead, .likechapterHead { font-size: 1.7411em; }
.sectionHead, .likesectionHead { font-size: 1.5157em; }
.subsectionHead, .likesubsectionHead { font-size: 1.3195em; }
.subsubsectionHead, .likesubsubsectionHead { font-size: 1.1487em; }
 @media (prefers-color-scheme: dark) { img[src^="main"]{filter: invert(1); } } 
 body { background-color: Canvas; color: CanvasText; color-scheme: light dark; } 
li p.indent { text-indent: 0em }
li p:first-child{ margin-top:0em; }
li p:last-child, li div:last-child { margin-bottom:0.5em; }
li p:first-child{ margin-bottom:0; }
li p~ul:last-child, li p~ol:last-child{ margin-bottom:0.5em; }
ul.itemize1,ol.enumerate1{padding-left: 0;}
ul li.itemize,ol li.enumerate{margin-left: 1rem;}
.enumerate1 {list-style-type:decimal;}
.enumerate2 {list-style-type:lower-alpha;}
.enumerate3 {list-style-type:lower-roman;}
.enumerate4 {list-style-type:upper-alpha;}
div.newtheorem { margin-bottom: 2em; margin-top: 2em;}
div.newtheorem .head{font-weight: bold;}
.obeylines-h,.obeylines-v {white-space: nowrap; }
div.obeylines-v p { margin-top:0; margin-bottom:0; }
.overline{ text-decoration:overline; }
.overline img{ border-top: 1px solid black; }
td.displaylines {text-align:center; white-space:nowrap;}
.centerline {text-align:center;}
.rightline {text-align:right;}
pre.verbatim {font-family: monospace,monospace; text-align:left; clear:both; }
.fbox {padding-left:3.0pt; padding-right:3.0pt; text-indent:0pt; border:solid black 0.4pt; }
div.fbox {display:table}
div.center div.fbox {text-align:center; clear:both; padding-left:3.0pt; padding-right:3.0pt; text-indent:0pt; border:solid black 0.4pt; }
div.minipage{width:100%;}
div.center, div.center div.center {text-align: center; margin-left:1em; margin-right:1em;}
div.center div {text-align: left;}
div.flushright, div.flushright div.flushright {text-align: right;}
div.flushright div {text-align: left;}
div.flushleft {text-align: left;}
.underline{ text-decoration:underline; }
.underline img{ border-bottom: 1px solid black; margin-bottom:1pt; }
.framebox-c, .framebox-l, .framebox-r { padding-left:3.0pt; padding-right:3.0pt; text-indent:0pt; border:solid black 0.4pt; }
.framebox-c {text-align:center;}
.framebox-l {text-align:left;}
.framebox-r {text-align:right;}
span.thank-mark{ vertical-align: super }
span.footnote-mark sup.textsuperscript, span.footnote-mark a sup.textsuperscript{ font-size:80%; }
code.verb{font-family:monospace,monospace;}
div.tabular, div.center div.tabular {text-align: center; margin-top:0.5em; margin-bottom:0.5em; }
table.tabular td p{margin-top:0em;}
table.tabular {margin-left: auto; margin-right: auto;}
td p:first-child{ margin-top:0em; }
td p:last-child{ margin-bottom:0em; }
div.td00{ margin-left:0pt; margin-right:0pt; }
div.td01{ margin-left:0pt; margin-right:5pt; }
div.td10{ margin-left:5pt; margin-right:0pt; }
div.td11{ margin-left:5pt; margin-right:5pt; }
table[rules] {border-left:solid black 0.4pt; border-right:solid black 0.4pt; }
td.td00{ padding-left:0pt; padding-right:0pt; }
td.td01{ padding-left:0pt; padding-right:5pt; }
td.td10{ padding-left:5pt; padding-right:0pt; }
td.td11{ padding-left:5pt; padding-right:5pt; }
table[rules] {border-left:solid black 0.4pt; border-right:solid black 0.4pt; }
.hline hr, .cline hr{ height : 0px; margin:0px; }
.hline td, .cline td{ padding: 0; }
.hline hr, .cline hr{border:none;border-top:1px solid black;}
.hline {border-top: 1px solid black;}
.hline + .vspace:last-child{display:none;}
.tabbing-right {text-align:right;}
div.float, div.figure {margin-left: auto; margin-right: auto;}
div.float img {text-align:center;}
div.figure img {text-align:center;}
.marginpar,.reversemarginpar {width:20%; float:right; text-align:left; margin-left:auto; margin-top:0.5em; font-size:85%; text-decoration:underline;}
.marginpar p,.reversemarginpar p{margin-top:0.4em; margin-bottom:0.4em;}
.reversemarginpar{float:left;}
table.equation {width:100%;}
.equation td{text-align:center; }
td.equation { margin-top:1em; margin-bottom:1em; } 
td.equation-label { width:5%; text-align:center; }
td.eqnarray4 { width:5%; white-space: normal; }
td.eqnarray2 { width:5%; }
table.eqnarray-star, table.eqnarray {width:100%;}
div.eqnarray{text-align:center;}
div.array {text-align:center;}
div.pmatrix {text-align:center;}
table.pmatrix {width:100%;}
span.pmatrix img{vertical-align:middle;}
div.pmatrix {text-align:center;}
table.pmatrix {width:100%;}
span.bar-css {text-decoration:overline;}
img.cdots{vertical-align:middle;}
div.tabular, div.center div.tabular {text-align: center; margin-top:0.5em; margin-bottom:0.5em; }
table.tabular td p{margin-top:0em;}
table.tabular {margin-left: auto; margin-right: auto;}
td p:first-child{ margin-top:0em; }
td p:last-child{ margin-bottom:0em; }
div.td00{ margin-left:0pt; margin-right:0pt; }
div.td01{ margin-left:0pt; margin-right:5pt; }
div.td10{ margin-left:5pt; margin-right:0pt; }
div.td11{ margin-left:5pt; margin-right:5pt; }
table[rules] {border-left:solid black 0.4pt; border-right:solid black 0.4pt; }
td.td00{ padding-left:0pt; padding-right:0pt; }
td.td01{ padding-left:0pt; padding-right:5pt; }
td.td10{ padding-left:5pt; padding-right:0pt; }
td.td11{ padding-left:5pt; padding-right:5pt; }
table[rules] {border-left:solid black 0.4pt; border-right:solid black 0.4pt; }
.hline hr, .cline hr{ height : 0px; margin:0px; }
.hline td, .cline td{ padding: 0; }
.hline hr, .cline hr{border:none;border-top:1px solid black;}
.hline {border-top: 1px solid black;}
.hline + .vspace:last-child{display:none;}
div.array {text-align:center;}
tr.hline td hr{display:none}
.partToc a, .partToc, .likepartToc a, .likepartToc {line-height: 200%; font-weight:bold; font-size:110%;}
.index-item, .index-subitem, .index-subsubitem {display:block}
div.caption {text-indent:-2em; margin-left:3em; margin-right:1em; text-align:center; margin-top: 0.5rem;}
div.caption span.id{font-weight: bold; white-space: nowrap; }
h1.partHead{text-align: center}
p.bibitem { text-indent: -2em; margin-left: 2em; margin-top:0.6em; margin-bottom:0.6em; }
p.bibitem-p { text-indent: 0em; margin-left: 2em; margin-top:0.6em; margin-bottom:0.6em; }
.subsubsectionHead, .likesubsubsectionHead { font-size: 1em; }
.paragraphHead, .likeparagraphHead { margin-top:2em; font-weight: bold;}
.subparagraphHead, .likesubparagraphHead { font-weight: bold;}
.verse{white-space:nowrap; margin-left:2em}
div.maketitle {text-align:center;}
h2.titleHead{text-align:center;}
div.maketitle{ margin-bottom: 2em; }
div.author, div.date {text-align:center;}
div.thanks{text-align:left; margin-left:10%; font-size:85%; font-style:italic; }
div.author{white-space: nowrap;}
div.abstract p {margin-left:5%; margin-right:5%;}
div.abstract {width:100%;}
.abstracttitle{text-align:center;margin-bottom:1em;}
.subsectionToc, .likesubsectionToc {margin-left:1em;}
.subsubsectionToc, .likesubsubsectionToc {margin-left:2em;}
.paragraphToc, .likeparagraphToc {margin-left:3em;}
.subparagraphToc, .likesubparagraphToc {margin-left:4em;}
figure.float, div.figure {margin-left: auto; margin-right: auto;}
figure.figure {text-align:center;}
figcaption.caption {text-indent:-2em; margin-left:3em; margin-right:1em; text-align:center;}
figcaption.caption span.id{font-weight: bold; white-space: nowrap; }
p + figcaption, img + figcaption{margin-top: 1em;}
.thebibliography dl { display: grid; grid-auto-columns: min-content 1fr; grid-auto-flow: column; }
.thebibliography dt { grid-column: 1; margin-bottom: 0.5em; }
.abstract{margin:1em;}
.equation td{text-align:center; }
.equation-star td{text-align:center; }
table.equation-star { width:100%; }
table.equation { width:100%; }
table.align, table.alignat, table.xalignat, table.xxalignat, table.flalign {width:95%; margin-left:5%; white-space: nowrap;}
table.align-star, table.alignat-star, table.xalignat-star, table.flalign-star {margin-left:auto; margin-right:auto; white-space: nowrap;}
td.align-label { width:5%; text-align:center; }
td.align-odd { text-align:right; padding-right:0.3em;}
td.align-even { text-align:left; padding-right:0.6em;}
table.multline, table.multline-star {width:100%;}
td.gather {text-align:center; }
table.gather {width:100%;}
div.gather-star {text-align:center;}
.rotatebox{display: inline-block;}
code.lstinline{font-family:monospace,monospace;}
pre.listings{font-family: monospace,monospace; white-space: pre-wrap; margin-top:0.5em; margin-bottom:0.5em; }
.lstlisting .label{margin-right:0.5em; }
pre.lstlisting{font-family: monospace,monospace; white-space: pre-wrap; margin-top:0.5em; margin-bottom:0.5em; text-align: left; }
pre.lstinputlisting{ font-family: monospace,monospace; white-space: pre-wrap; text-align: left; }
.lstinputlisting .label{margin-right:0.5em;}
table[rules] {border-left:solid black 0.4pt; border-right:solid black 0.4pt; }
table.longtable{border-collapse: collapse; border-spacing: 0;}
div.longtable{text-align:center;}
table.longtable{margin-left:auto; margin-right: auto;}
caption.longtable .id{font-weight:bold;}
.glsgroupskip{margin-bottom:1rem;}
.glsgroupskip + .glsgroupskip{margin-bottom: 0;}
.supertabular {text-align:center}
dt.printshorthands{float:left; clear:left; margin-right:1em;}
#TBL-2-1{border-left: 1px solid #000;}
#TBL-2-1{border-right:1px solid #000;}
#TBL-2-2{border-right:1px solid #000;}
#TBL-2-3{border-right:1px solid #000;}
#TBL-2-4{border-right:1px solid #000;}
#TBL-3-1{border-left: 1px solid #000;}
#TBL-3-1{border-right:1px solid #000;}
#TBL-3-2{border-right:1px solid #000;}
#TBL-3-3{border-right:1px solid #000;}
#TBL-3-4{border-right:1px solid #000;}
#TBL-3-5{border-right:1px solid #000;}
td#TBL-3-10-1{border-left:1px solid #000;border-right:1px solid #000;}
td#TBL-3-10-1{border-left:1px solid #000;border-right:1px solid #000;}
#TBL-4-1{border-left: 1px solid #000;}
#TBL-4-1{border-right:1px solid #000;}
#TBL-4-2{border-right:1px solid #000;}
#TBL-4-3{border-right:1px solid #000;}
#TBL-4-4{border-right:1px solid #000;}
#TBL-5-1{border-left: 1px solid #000;}
#TBL-5-1{border-right:1px solid #000;}
#TBL-5-2{border-right:1px solid #000;}
#TBL-5-3{border-right:1px solid #000;}
#TBL-5-4{border-right:1px solid #000;}
#TBL-6-1{border-left: 1px solid #000;}
#TBL-6-1{border-right:1px solid #000;}
#TBL-6-2{border-right:1px solid #000;}
#TBL-6-3{border-right:1px solid #000;}
#TBL-6-4{border-right:1px solid #000;}
#TBL-7-1{border-left: 1px solid #000;}
#TBL-7-1{border-right:1px solid #000;}
#TBL-7-2{border-right:1px solid #000;}
#TBL-7-3{border-right:1px solid #000;}
#TBL-7-4{border-right:1px solid #000;}
#TBL-8-1{border-left: 1px solid #000;}
#TBL-8-1{border-right:1px solid #000;}
#TBL-8-2{border-right:1px solid #000;}
#TBL-8-3{border-right:1px solid #000;}
#TBL-8-4{border-right:1px solid #000;}
#TBL-12-1{border-left: 1px solid #000;}
#TBL-12-1{border-right:1px solid #000;}
#TBL-12-2{border-right:1px solid #000;}
#TBL-12-3{border-right:1px solid #000;}
#TBL-12-4{border-right:1px solid #000;}
tr#TBL-12-121-{background-color:#ECECEC}
tr#TBL-12-122-{background-color:#FFFFFF}
tr#TBL-12-123-{background-color:#ECECEC}
tr#TBL-12-124-{background-color:#FFFFFF}
tr#TBL-12-125-{background-color:#ECECEC}
tr#TBL-12-126-{background-color:#FFFFFF}
tr#TBL-12-127-{background-color:#ECECEC}
tr#TBL-12-128-{background-color:#FFFFFF}
tr#TBL-12-129-{background-color:#ECECEC}
tr#TBL-12-130-{background-color:#FFFFFF}
tr#TBL-12-131-{background-color:#ECECEC}
tr#TBL-12-132-{background-color:#FFFFFF}
tr#TBL-12-133-{background-color:#ECECEC}
tr#TBL-12-134-{background-color:#FFFFFF}
tr#TBL-12-135-{background-color:#ECECEC}
tr#TBL-12-136-{background-color:#FFFFFF}
tr#TBL-12-137-{background-color:#ECECEC}
tr#TBL-12-138-{background-color:#FFFFFF}
tr#TBL-12-139-{background-color:#ECECEC}
tr#TBL-12-140-{background-color:#FFFFFF}
tr#TBL-12-141-{background-color:#ECECEC}
tr#TBL-12-142-{background-color:#FFFFFF}
tr#TBL-12-143-{background-color:#ECECEC}
tr#TBL-12-144-{background-color:#FFFFFF}
tr#TBL-12-145-{background-color:#ECECEC}
tr#TBL-12-146-{background-color:#FFFFFF}
tr#TBL-12-147-{background-color:#ECECEC}
tr#TBL-12-148-{background-color:#FFFFFF}
tr#TBL-12-149-{background-color:#ECECEC}
tr#TBL-12-150-{background-color:#FFFFFF}
tr#TBL-12-151-{background-color:#ECECEC}
tr#TBL-12-152-{background-color:#FFFFFF}
tr#TBL-12-153-{background-color:#ECECEC}
tr#TBL-12-154-{background-color:#FFFFFF}
tr#TBL-12-155-{background-color:#ECECEC}
tr#TBL-12-156-{background-color:#FFFFFF}
tr#TBL-12-157-{background-color:#ECECEC}
tr#TBL-12-158-{background-color:#FFFFFF}
tr#TBL-12-159-{background-color:#ECECEC}
tr#TBL-12-160-{background-color:#FFFFFF}
tr#TBL-12-161-{background-color:#ECECEC}
tr#TBL-12-162-{background-color:#FFFFFF}
tr#TBL-12-163-{background-color:#ECECEC}
tr#TBL-12-164-{background-color:#FFFFFF}
#TBL-16-1{border-left: 1px solid #000;}
#TBL-16-1{border-right:1px solid #000;}
#TBL-16-2{border-right:1px solid #000;}
#TBL-16-3{border-right:1px solid #000;}
#TBL-16-4{border-right:1px solid #000;}
tr#TBL-16-261-{background-color:#ECECEC}
tr#TBL-16-262-{background-color:#FFFFFF}
tr#TBL-16-263-{background-color:#ECECEC}
tr#TBL-16-264-{background-color:#FFFFFF}
tr#TBL-16-265-{background-color:#ECECEC}
tr#TBL-16-266-{background-color:#FFFFFF}
tr#TBL-16-267-{background-color:#ECECEC}
tr#TBL-16-268-{background-color:#FFFFFF}
tr#TBL-16-269-{background-color:#ECECEC}
tr#TBL-16-270-{background-color:#FFFFFF}
tr#TBL-16-271-{background-color:#ECECEC}
tr#TBL-16-272-{background-color:#FFFFFF}
tr#TBL-16-273-{background-color:#ECECEC}
tr#TBL-16-274-{background-color:#FFFFFF}
tr#TBL-16-275-{background-color:#ECECEC}
tr#TBL-16-276-{background-color:#FFFFFF}
tr#TBL-16-277-{background-color:#ECECEC}
tr#TBL-16-278-{background-color:#FFFFFF}
tr#TBL-16-279-{background-color:#ECECEC}
tr#TBL-16-280-{background-color:#FFFFFF}
tr#TBL-16-281-{background-color:#ECECEC}
tr#TBL-16-282-{background-color:#FFFFFF}
tr#TBL-16-283-{background-color:#ECECEC}
tr#TBL-16-284-{background-color:#FFFFFF}
tr#TBL-16-285-{background-color:#ECECEC}
tr#TBL-16-286-{background-color:#FFFFFF}
tr#TBL-16-287-{background-color:#ECECEC}
tr#TBL-16-288-{background-color:#FFFFFF}
tr#TBL-16-289-{background-color:#ECECEC}
tr#TBL-16-290-{background-color:#FFFFFF}
tr#TBL-16-291-{background-color:#ECECEC}
tr#TBL-16-292-{background-color:#FFFFFF}
tr#TBL-16-293-{background-color:#ECECEC}
tr#TBL-16-294-{background-color:#FFFFFF}
tr#TBL-16-295-{background-color:#ECECEC}
tr#TBL-16-296-{background-color:#FFFFFF}
/* end css.sty */

