 
/* start css.sty */
.cmr-10{font-size:90%;}
.cmr-10x-x-109{}
.cmr-17{font-size:154%;}
.cmr-12{font-size:109%;}
.cmr-8{font-size:72%;}
.cmr-6{font-size:54%;}
.cmtt-10x-x-109{font-family: monospace,monospace;}
.cmtt-10x-x-109{font-family: monospace,monospace;}
.cmtt-10x-x-109{font-family: monospace,monospace;}
.cmbx-10x-x-109{ font-weight: bold;}
.cmti-10x-x-109{ font-style: italic;}
.cmmi-10x-x-109{font-style: italic;}
.cmsy-10x-x-109{}
.cmex-10x-x-109{}
.feybr-10x-x-109{font-weight: bold;}
.feymr-10x-x-109{}
.cmr-9{font-size:81%;}
.cmti-8{font-size:72%; font-style: italic;}
.cmti-9{font-size:81%; font-style: italic;}
.cmsltt-10x-x-109{ font-style: oblique; font-family: monospace,monospace;}
.cmtt-9{font-size:81%;font-family: monospace,monospace;}
.cmtt-9{font-family: monospace,monospace;}
.cmtt-9{font-family: monospace,monospace;}
p{margin-top:0;margin-bottom:0}
p.indent{text-indent:0;}
p + p{margin-top:1em;}
p + div, p + pre {margin-top:1em;}
div + p, pre + p {margin-top:1em;}
a { overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; hyphens: auto; }
@media print {div.crosslinks {visibility:hidden;}}
table.tabular{border-collapse: collapse; border-spacing: 0;}
a img { border-top: 0; border-left: 0; border-right: 0; }
center { margin-top:1em; margin-bottom:1em; }
td center { margin-top:0em; margin-bottom:0em; }
.Canvas { position:relative; }
img.math{vertical-align:middle;}
div.par-math-display, div.math-display{text-align:center;}
body{ margin:1em auto; max-width:80ch; padding:0 .62em; }
h1,h2,h3,h4,h5 { line-height:1.2; }
@media print{ body{ max-width:none } }
.partHead, .likepartHead { font-size: 2em; }
.chapterHead, .likechapterHead { font-size: 1.7411em; }
.sectionHead, .likesectionHead { font-size: 1.5157em; }
.subsectionHead, .likesubsectionHead { font-size: 1.3195em; }
.subsubsectionHead, .likesubsubsectionHead { font-size: 1.1487em; }
 @media (prefers-color-scheme: dark) { img[src^="main"]{filter: invert(1); } } 
 body { background-color: Canvas; color: CanvasText; color-scheme: light dark; } 
li p.indent { text-indent: 0em }
li p:first-child{ margin-top:0em; }
li p:last-child, li div:last-child { margin-bottom:0.5em; }
li p:first-child{ margin-bottom:0; }
li p~ul:last-child, li p~ol:last-child{ margin-bottom:0.5em; }
ul.itemize1,ol.enumerate1{padding-left: 0;}
ul li.itemize,ol li.enumerate{margin-left: 1rem;}
.enumerate1 {list-style-type:decimal;}
.enumerate2 {list-style-type:lower-alpha;}
.enumerate3 {list-style-type:lower-roman;}
.enumerate4 {list-style-type:upper-alpha;}
div.newtheorem { margin-bottom: 2em; margin-top: 2em;}
div.newtheorem .head{font-weight: bold;}
.obeylines-h,.obeylines-v {white-space: nowrap; }
div.obeylines-v p { margin-top:0; margin-bottom:0; }
.overline{ text-decoration:overline; }
.overline img{ border-top: 1px solid black; }
td.displaylines {text-align:center; white-space:nowrap;}
.centerline {text-align:center;}
.rightline {text-align:right;}
pre.verbatim {font-family: monospace,monospace; text-align:left; clear:both; }
.fbox {padding-left:3.0pt; padding-right:3.0pt; text-indent:0pt; border:solid black 0.4pt; }
div.fbox {display:table}
div.center div.fbox {text-align:center; clear:both; padding-left:3.0pt; padding-right:3.0pt; text-indent:0pt; border:solid black 0.4pt; }
div.minipage{width:100%;}
div.center, div.center div.center {text-align: center; margin-left:1em; margin-right:1em;}
div.center div {text-align: left;}
div.flushright, div.flushright div.flushright {text-align: right;}
div.flushright div {text-align: left;}
div.flushleft {text-align: left;}
.underline{ text-decoration:underline; }
.underline img{ border-bottom: 1px solid black; margin-bottom:1pt; }
.framebox-c, .framebox-l, .framebox-r { padding-left:3.0pt; padding-right:3.0pt; text-indent:0pt; border:solid black 0.4pt; }
.framebox-c {text-align:center;}
.framebox-l {text-align:left;}
.framebox-r {text-align:right;}
span.thank-mark{ vertical-align: super }
span.footnote-mark sup.textsuperscript, span.footnote-mark a sup.textsuperscript{ font-size:80%; }
code.verb{font-family:monospace,monospace;}
div.tabular, div.center div.tabular {text-align: center; margin-top:0.5em; margin-bottom:0.5em; }
table.tabular td p{margin-top:0em;}
table.tabular {margin-left: auto; margin-right: auto;}
td p:first-child{ margin-top:0em; }
td p:last-child{ margin-bottom:0em; }
div.td00{ margin-left:0pt; margin-right:0pt; }
div.td01{ margin-left:0pt; margin-right:5pt; }
div.td10{ margin-left:5pt; margin-right:0pt; }
div.td11{ margin-left:5pt; margin-right:5pt; }
table[rules] {border-left:solid black 0.4pt; border-right:solid black 0.4pt; }
td.td00{ padding-left:0pt; padding-right:0pt; }
td.td01{ padding-left:0pt; padding-right:5pt; }
td.td10{ padding-left:5pt; padding-right:0pt; }
td.td11{ padding-left:5pt; padding-right:5pt; }
table[rules] {border-left:solid black 0.4pt; border-right:solid black 0.4pt; }
.hline hr, .cline hr{ height : 0px; margin:0px; }
.hline td, .cline td{ padding: 0; }
.hline hr, .cline hr{border:none;border-top:1px solid black;}
.hline {border-top: 1px solid black;}
.hline + .vspace:last-child{display:none;}
.tabbing-right {text-align:right;}
div.float, div.figure {margin-left: auto; margin-right: auto;}
div.float img {text-align:center;}
div.figure img {text-align:center;}
.marginpar,.reversemarginpar {width:20%; float:right; text-align:left; margin-left:auto; margin-top:0.5em; font-size:85%; text-decoration:underline;}
.marginpar p,.reversemarginpar p{margin-top:0.4em; margin-bottom:0.4em;}
.reversemarginpar{float:left;}
table.equation {width:100%;}
.equation td{text-align:center; }
td.equation { margin-top:1em; margin-bottom:1em; } 
td.equation-label { width:5%; text-align:center; }
td.eqnarray4 { width:5%; white-space: normal; }
td.eqnarray2 { width:5%; }
table.eqnarray-star, table.eqnarray {width:100%;}
div.eqnarray{text-align:center;}
div.array {text-align:center;}
div.pmatrix {text-align:center;}
table.pmatrix {width:100%;}
span.pmatrix img{vertical-align:middle;}
div.pmatrix {text-align:center;}
table.pmatrix {width:100%;}
span.bar-css {text-decoration:overline;}
img.cdots{vertical-align:middle;}
div.tabular, div.center div.tabular {text-align: center; margin-top:0.5em; margin-bottom:0.5em; }
table.tabular td p{margin-top:0em;}
table.tabular {margin-left: auto; margin-right: auto;}
td p:first-child{ margin-top:0em; }
td p:last-child{ margin-bottom:0em; }
div.td00{ margin-left:0pt; margin-right:0pt; }
div.td01{ margin-left:0pt; margin-right:5pt; }
div.td10{ margin-left:5pt; margin-right:0pt; }
div.td11{ margin-left:5pt; margin-right:5pt; }
table[rules] {border-left:solid black 0.4pt; border-right:solid black 0.4pt; }
td.td00{ padding-left:0pt; padding-right:0pt; }
td.td01{ padding-left:0pt; padding-right:5pt; }
td.td10{ padding-left:5pt; padding-right:0pt; }
td.td11{ padding-left:5pt; padding-right:5pt; }
table[rules] {border-left:solid black 0.4pt; border-right:solid black 0.4pt; }
.hline hr, .cline hr{ height : 0px; margin:0px; }
.hline td, .cline td{ padding: 0; }
.hline hr, .cline hr{border:none;border-top:1px solid black;}
.hline {border-top: 1px solid black;}
.hline + .vspace:last-child{display:none;}
div.array {text-align:center;}
tr.hline td hr{display:none}
.partToc a, .partToc, .likepartToc a, .likepartToc {line-height: 200%; font-weight:bold; font-size:110%;}
.theindex-letter{ margin-top: 1em;}
.index-subitem{ margin-left: 2ch;}
.index-subsubitem{ margin-left: 4ch;}
div.caption {text-indent:-2em; margin-left:3em; margin-right:1em; text-align:center; margin-top: 0.5rem;}
div.caption span.id{font-weight: bold; white-space: nowrap; }
h1.partHead{text-align: center}
p.bibitem { text-indent: -2em; margin-left: 2em; margin-top:0.6em; margin-bottom:0.6em; }
p.bibitem-p { text-indent: 0em; margin-left: 2em; margin-top:0.6em; margin-bottom:0.6em; }
.subsubsectionHead, .likesubsubsectionHead { font-size: 1em; }
.paragraphHead, .likeparagraphHead { margin-top:2em; font-weight: bold;}
.subparagraphHead, .likesubparagraphHead { font-weight: bold;}
.verse{white-space:nowrap; margin-left:2em}
div.maketitle {text-align:center;}
h2.titleHead{text-align:center;}
div.maketitle{ margin-bottom: 2em; }
div.author, div.date {text-align:center;}
div.thanks{text-align:left; margin-left:10%; font-size:85%; font-style:italic; }
div.author{white-space: nowrap;}
div.abstract p {margin-left:5%; margin-right:5%;}
div.abstract {width:100%;}
.abstracttitle{text-align:center;margin-bottom:1em;}
.subsectionToc, .likesubsectionToc {margin-left:1em;}
.subsubsectionToc, .likesubsubsectionToc {margin-left:2em;}
.paragraphToc, .likeparagraphToc {margin-left:3em;}
.subparagraphToc, .likesubparagraphToc {margin-left:4em;}
figure.float, div.figure {margin-left: auto; margin-right: auto;}
figure.figure {text-align:center;}
figcaption.caption {text-indent:-2em; margin-left:3em; margin-right:1em; text-align:center;}
figcaption.caption span.id{font-weight: bold; white-space: nowrap; }
p + figcaption, img + figcaption{margin-top: 1em;}
.thebibliography dl { display: grid; grid-auto-columns: min-content 1fr; grid-auto-flow: column; }
.thebibliography dt { grid-column: 1; margin-bottom: 0.5em; }
.abstract{margin:1em;}
.equation td{text-align:center; }
.equation-star td{text-align:center; }
table.equation-star { width:100%; }
table.equation { width:100%; }
table.align, table.alignat, table.xalignat, table.xxalignat, table.flalign {width:95%; margin-left:5%; white-space: nowrap;}
table.align-star, table.alignat-star, table.xalignat-star, table.flalign-star {margin-left:auto; margin-right:auto; white-space: nowrap;}
td.align-label { width:5%; text-align:center; }
td.align-odd { text-align:right; padding-right:0.3em;}
td.align-even { text-align:left; padding-right:0.6em;}
table.multline, table.multline-star {width:100%;}
td.gather {text-align:center; }
table.gather {width:100%;}
div.gather-star {text-align:center;}
.rotatebox{display: inline-block;}
code.lstinline{font-family:monospace,monospace;}
pre.listings{font-family: monospace,monospace; white-space: pre-wrap; margin-top:0.5em; margin-bottom:0.5em; }
.lstlisting .label{margin-right:0.5em; }
pre.lstlisting{font-family: monospace,monospace; white-space: pre-wrap; margin-top:0.5em; margin-bottom:0.5em; text-align: left; }
pre.lstinputlisting{ font-family: monospace,monospace; white-space: pre-wrap; text-align: left; }
.lstinputlisting .label{margin-right:0.5em;}
table[rules] {border-left:solid black 0.4pt; border-right:solid black 0.4pt; }
table.longtable{border-collapse: collapse; border-spacing: 0;}
div.longtable{text-align:center;}
table.longtable{margin-left:auto; margin-right: auto;}
caption.longtable .id{font-weight:bold;}
.glsgroupskip{margin-bottom:1rem;}
.glsgroupskip + .glsgroupskip{margin-bottom: 0;}
.supertabular {text-align:center}
dt.printshorthands{float:left; clear:left; margin-right:1em;}
#TBL-6-1{border-left: 1px solid #000;}
#TBL-6-1{border-right:1px solid #000;}
#TBL-6-2{border-right:1px solid #000;}
#TBL-6-3{border-right:1px solid #000;}
#TBL-6-4{border-right:1px solid #000;}
td#TBL-6-2-1{border-left:1px solid #000;border-right:1px solid #000;}
td#TBL-6-2-1{border-left:1px solid #000;border-right:1px solid #000;}
td#TBL-6-4-1{border-left:1px solid #000;border-right:1px solid #000;}
td#TBL-6-4-1{border-left:1px solid #000;border-right:1px solid #000;}
td#TBL-6-5-1{border-left:1px solid #000;border-right:1px solid #000;}
td#TBL-6-5-1{border-left:1px solid #000;border-right:1px solid #000;}
td#TBL-6-9-1{border-left:1px solid #000;border-right:1px solid #000;}
td#TBL-6-9-1{border-left:1px solid #000;border-right:1px solid #000;}
td#TBL-6-10-1{border-left:1px solid #000;border-right:1px solid #000;}
td#TBL-6-10-1{border-left:1px solid #000;border-right:1px solid #000;}
td#TBL-6-11-1{border-left:1px solid #000;border-right:1px solid #000;}
td#TBL-6-11-1{border-left:1px solid #000;border-right:1px solid #000;}
td#TBL-6-12-1{border-left:1px solid #000;border-right:1px solid #000;}
td#TBL-6-12-1{border-left:1px solid #000;border-right:1px solid #000;}
td#TBL-6-13-1{border-left:1px solid #000;border-right:1px solid #000;}
td#TBL-6-13-1{border-left:1px solid #000;border-right:1px solid #000;}
td#TBL-6-14-1{border-left:1px solid #000;border-right:1px solid #000;}
td#TBL-6-14-1{border-left:1px solid #000;border-right:1px solid #000;}
td#TBL-6-15-1{border-left:1px solid #000;border-right:1px solid #000;}
td#TBL-6-15-1{border-left:1px solid #000;border-right:1px solid #000;}
td#TBL-6-16-1{border-left:1px solid #000;border-right:1px solid #000;}
td#TBL-6-16-1{border-left:1px solid #000;border-right:1px solid #000;}
td#TBL-6-17-1{border-left:1px solid #000;border-right:1px solid #000;}
td#TBL-6-17-1{border-left:1px solid #000;border-right:1px solid #000;}
#TBL-7-1{border-left: 1px solid #000;}
#TBL-7-1{border-right:1px solid #000;}
#TBL-7-2{border-right:1px solid #000;}
#TBL-7-3{border-right:1px solid #000;}
#TBL-7-4{border-right:1px solid #000;}
#TBL-8-1{border-left: 1px solid #000;}
#TBL-8-1{border-right:1px solid #000;}
#TBL-8-2{border-right:1px solid #000;}
#TBL-8-3{border-right:1px solid #000;}
#TBL-8-4{border-right:1px solid #000;}
#TBL-9-1{border-left: 1px solid #000;}
#TBL-9-1{border-right:1px solid #000;}
#TBL-9-2{border-right:1px solid #000;}
#TBL-9-3{border-right:1px solid #000;}
#TBL-9-4{border-right:1px solid #000;}
#TBL-14-1{border-left: 1px solid #000;}
#TBL-14-1{border-right:1px solid #000;}
#TBL-14-2{border-right:1px solid #000;}
#TBL-14-3{border-right:1px solid #000;}
#TBL-14-4{border-right:1px solid #000;}
tr#TBL-14-87-{background-color:#ECECEC}
tr#TBL-15-88-{background-color:#FFFFFF}
tr#TBL-15-89-{background-color:#ECECEC}
tr#TBL-15-90-{background-color:#FFFFFF}
tr#TBL-14-91-{background-color:#ECECEC}
tr#TBL-14-92-{background-color:#FFFFFF}
tr#TBL-14-93-{background-color:#ECECEC}
tr#TBL-14-94-{background-color:#FFFFFF}
tr#TBL-14-95-{background-color:#ECECEC}
tr#TBL-14-96-{background-color:#FFFFFF}
tr#TBL-14-97-{background-color:#ECECEC}
tr#TBL-14-98-{background-color:#FFFFFF}
tr#TBL-14-99-{background-color:#ECECEC}
tr#TBL-14-100-{background-color:#FFFFFF}
tr#TBL-14-101-{background-color:#ECECEC}
tr#TBL-14-102-{background-color:#FFFFFF}
tr#TBL-14-103-{background-color:#ECECEC}
tr#TBL-14-104-{background-color:#FFFFFF}
tr#TBL-14-105-{background-color:#ECECEC}
tr#TBL-14-106-{background-color:#FFFFFF}
tr#TBL-14-107-{background-color:#ECECEC}
tr#TBL-14-108-{background-color:#FFFFFF}
tr#TBL-14-109-{background-color:#ECECEC}
tr#TBL-14-110-{background-color:#FFFFFF}
tr#TBL-14-111-{background-color:#ECECEC}
tr#TBL-14-112-{background-color:#FFFFFF}
tr#TBL-14-113-{background-color:#ECECEC}
tr#TBL-14-114-{background-color:#FFFFFF}
tr#TBL-14-115-{background-color:#ECECEC}
tr#TBL-14-116-{background-color:#FFFFFF}
tr#TBL-14-117-{background-color:#ECECEC}
tr#TBL-14-118-{background-color:#FFFFFF}
tr#TBL-14-119-{background-color:#ECECEC}
tr#TBL-14-120-{background-color:#FFFFFF}
tr#TBL-14-121-{background-color:#ECECEC}
tr#TBL-14-122-{background-color:#FFFFFF}
tr#TBL-14-123-{background-color:#ECECEC}
tr#TBL-14-124-{background-color:#FFFFFF}
tr#TBL-14-125-{background-color:#ECECEC}
tr#TBL-14-126-{background-color:#FFFFFF}
tr#TBL-14-127-{background-color:#ECECEC}
tr#TBL-14-128-{background-color:#FFFFFF}
tr#TBL-14-129-{background-color:#ECECEC}
tr#TBL-14-130-{background-color:#FFFFFF}
tr#TBL-14-131-{background-color:#ECECEC}
tr#TBL-14-132-{background-color:#FFFFFF}
tr#TBL-14-133-{background-color:#ECECEC}
#TBL-19-1{border-left: 1px solid #000;}
#TBL-19-1{border-right:1px solid #000;}
#TBL-19-2{border-right:1px solid #000;}
#TBL-19-3{border-right:1px solid #000;}
#TBL-19-4{border-right:1px solid #000;}
tr#TBL-19-152-{background-color:#FFFFFF}
tr#TBL-19-153-{background-color:#ECECEC}
tr#TBL-19-154-{background-color:#FFFFFF}
tr#TBL-19-155-{background-color:#ECECEC}
tr#TBL-19-156-{background-color:#FFFFFF}
tr#TBL-19-157-{background-color:#ECECEC}
tr#TBL-19-158-{background-color:#FFFFFF}
tr#TBL-19-159-{background-color:#ECECEC}
tr#TBL-19-160-{background-color:#FFFFFF}
tr#TBL-19-161-{background-color:#ECECEC}
#TBL-23-1{border-left: 1px solid #000;}
#TBL-23-1{border-right:1px solid #000;}
#TBL-23-2{border-right:1px solid #000;}
#TBL-23-3{border-right:1px solid #000;}
#TBL-23-4{border-right:1px solid #000;}
tr#TBL-23-183-{background-color:#ECECEC}
tr#TBL-23-184-{background-color:#FFFFFF}
tr#TBL-23-185-{background-color:#ECECEC}
tr#TBL-23-186-{background-color:#FFFFFF}
tr#TBL-23-187-{background-color:#ECECEC}
tr#TBL-23-188-{background-color:#FFFFFF}
tr#TBL-23-189-{background-color:#ECECEC}
tr#TBL-23-190-{background-color:#FFFFFF}
tr#TBL-23-191-{background-color:#ECECEC}
tr#TBL-23-192-{background-color:#FFFFFF}
tr#TBL-23-193-{background-color:#ECECEC}
#TBL-27-1{border-left: 1px solid #000;}
#TBL-27-1{border-right:1px solid #000;}
#TBL-27-2{border-right:1px solid #000;}
#TBL-27-3{border-right:1px solid #000;}
#TBL-27-4{border-right:1px solid #000;}
tr#TBL-27-290-{background-color:#FFFFFF}
tr#TBL-27-291-{background-color:#ECECEC}
tr#TBL-27-292-{background-color:#FFFFFF}
tr#TBL-27-293-{background-color:#ECECEC}
tr#TBL-27-294-{background-color:#FFFFFF}
tr#TBL-27-295-{background-color:#ECECEC}
tr#TBL-27-296-{background-color:#FFFFFF}
tr#TBL-27-297-{background-color:#ECECEC}
tr#TBL-27-298-{background-color:#FFFFFF}
tr#TBL-27-299-{background-color:#ECECEC}
tr#TBL-27-300-{background-color:#FFFFFF}
tr#TBL-27-301-{background-color:#ECECEC}
tr#TBL-27-302-{background-color:#FFFFFF}
tr#TBL-27-303-{background-color:#ECECEC}
tr#TBL-27-304-{background-color:#FFFFFF}
tr#TBL-27-305-{background-color:#ECECEC}
tr#TBL-27-306-{background-color:#FFFFFF}
tr#TBL-27-307-{background-color:#ECECEC}
tr#TBL-27-308-{background-color:#FFFFFF}
tr#TBL-27-309-{background-color:#ECECEC}
tr#TBL-27-310-{background-color:#FFFFFF}
tr#TBL-27-311-{background-color:#ECECEC}
tr#TBL-27-312-{background-color:#FFFFFF}
tr#TBL-27-313-{background-color:#ECECEC}
tr#TBL-27-314-{background-color:#FFFFFF}
tr#TBL-27-315-{background-color:#ECECEC}
tr#TBL-27-316-{background-color:#FFFFFF}
tr#TBL-27-317-{background-color:#ECECEC}
tr#TBL-27-318-{background-color:#FFFFFF}
tr#TBL-27-319-{background-color:#ECECEC}
tr#TBL-27-320-{background-color:#FFFFFF}
tr#TBL-27-321-{background-color:#ECECEC}
tr#TBL-27-322-{background-color:#FFFFFF}
tr#TBL-27-323-{background-color:#ECECEC}
tr#TBL-27-324-{background-color:#FFFFFF}
tr#TBL-27-325-{background-color:#ECECEC}
#TBL-32-1{border-left: 1px solid #000;}
#TBL-32-1{border-right:1px solid #000;}
#TBL-32-2{border-right:1px solid #000;}
#TBL-32-3{border-right:1px solid #000;}
tr#TBL-32-394-{background-color:#FFFFFF}
tr#TBL-32-395-{background-color:#ECECEC}
td#TBL-32-2-1{border-left:1px solid #000;border-right:1px solid #000;}
tr#TBL-32-396-{background-color:#FFFFFF}
tr#TBL-32-397-{background-color:#ECECEC}
tr#TBL-32-398-{background-color:#FFFFFF}
tr#TBL-32-399-{background-color:#ECECEC}
tr#TBL-32-400-{background-color:#FFFFFF}
tr#TBL-32-401-{background-color:#ECECEC}
tr#TBL-32-402-{background-color:#FFFFFF}
tr#TBL-32-403-{background-color:#ECECEC}
tr#TBL-32-404-{background-color:#FFFFFF}
tr#TBL-32-405-{background-color:#ECECEC}
tr#TBL-32-406-{background-color:#FFFFFF}
td#TBL-32-2-1{border-left:1px solid #000;border-right:1px solid #000;border-left:1px solid #000;border-right:1px solid #000;border-right:1px solid #000;border-right:1px solid #000;}
tr#TBL-32-407-{background-color:#ECECEC}
td#TBL-32-3-1{border-left:1px solid #000;border-right:1px solid #000;}
td#TBL-32-3-1{border-left:1px solid #000;border-right:1px solid #000;}
tr#TBL-32-408-{background-color:#FFFFFF}
td#TBL-32-4-1{border-left:1px solid #000;border-right:1px solid #000;}
td#TBL-32-4-1{border-left:1px solid #000;border-right:1px solid #000;}
tr#TBL-32-409-{background-color:#ECECEC}
tr#TBL-32-410-{background-color:#FFFFFF}
tr#TBL-32-411-{background-color:#ECECEC}
tr#TBL-32-412-{background-color:#FFFFFF}
tr#TBL-32-413-{background-color:#ECECEC}
tr#TBL-32-414-{background-color:#FFFFFF}
#TBL-37-1{border-left: 1px solid #000;}
#TBL-37-1{border-right:1px solid #000;}
#TBL-37-2{border-right:1px solid #000;}
#TBL-37-3{border-right:1px solid #000;}
tr#TBL-37-471-{background-color:#ECECEC}
tr#TBL-37-472-{background-color:#FFFFFF}
td#TBL-37-2-1{border-left:1px solid #000;border-right:1px solid #000;}
tr#TBL-37-473-{background-color:#ECECEC}
tr#TBL-37-474-{background-color:#FFFFFF}
tr#TBL-37-475-{background-color:#ECECEC}
tr#TBL-37-476-{background-color:#FFFFFF}
tr#TBL-37-477-{background-color:#ECECEC}
tr#TBL-37-478-{background-color:#FFFFFF}
tr#TBL-37-479-{background-color:#ECECEC}
tr#TBL-37-480-{background-color:#FFFFFF}
td#TBL-37-2-1{border-left:1px solid #000;border-right:1px solid #000;border-left:1px solid #000;border-right:1px solid #000;border-right:1px solid #000;border-right:1px solid #000;}
tr#TBL-37-481-{background-color:#ECECEC}
td#TBL-37-3-1{border-left:1px solid #000;border-right:1px solid #000;}
td#TBL-37-3-1{border-left:1px solid #000;border-right:1px solid #000;}
tr#TBL-37-482-{background-color:#FFFFFF}
td#TBL-37-4-1{border-left:1px solid #000;border-right:1px solid #000;}
td#TBL-37-4-1{border-left:1px solid #000;border-right:1px solid #000;}
tr#TBL-37-483-{background-color:#ECECEC}
tr#TBL-37-484-{background-color:#FFFFFF}
tr#TBL-37-485-{background-color:#ECECEC}
tr#TBL-37-486-{background-color:#FFFFFF}
tr#TBL-37-487-{background-color:#ECECEC}
tr#TBL-37-488-{background-color:#FFFFFF}
#TBL-42-1{border-left: 1px solid #000;}
#TBL-42-1{border-right:1px solid #000;}
#TBL-42-2{border-right:1px solid #000;}
#TBL-42-3{border-right:1px solid #000;}
tr#TBL-42-561-{background-color:#ECECEC}
tr#TBL-42-562-{background-color:#FFFFFF}
td#TBL-42-2-1{border-left:1px solid #000;border-right:1px solid #000;}
tr#TBL-42-563-{background-color:#ECECEC}
tr#TBL-42-564-{background-color:#FFFFFF}
tr#TBL-42-565-{background-color:#ECECEC}
tr#TBL-42-566-{background-color:#FFFFFF}
tr#TBL-42-567-{background-color:#ECECEC}
tr#TBL-42-568-{background-color:#FFFFFF}
tr#TBL-42-569-{background-color:#ECECEC}
tr#TBL-42-570-{background-color:#FFFFFF}
tr#TBL-42-571-{background-color:#ECECEC}
tr#TBL-42-572-{background-color:#FFFFFF}
tr#TBL-42-573-{background-color:#ECECEC}
tr#TBL-42-574-{background-color:#FFFFFF}
td#TBL-42-2-1{border-left:1px solid #000;border-right:1px solid #000;border-left:1px solid #000;border-right:1px solid #000;border-right:1px solid #000;border-right:1px solid #000;}
tr#TBL-42-575-{background-color:#ECECEC}
td#TBL-42-3-1{border-left:1px solid #000;border-right:1px solid #000;}
td#TBL-42-3-1{border-left:1px solid #000;border-right:1px solid #000;}
tr#TBL-42-576-{background-color:#FFFFFF}
td#TBL-42-4-1{border-left:1px solid #000;border-right:1px solid #000;}
td#TBL-42-4-1{border-left:1px solid #000;border-right:1px solid #000;}
tr#TBL-42-577-{background-color:#ECECEC}
tr#TBL-42-578-{background-color:#FFFFFF}
tr#TBL-42-579-{background-color:#ECECEC}
tr#TBL-42-580-{background-color:#FFFFFF}
tr#TBL-42-581-{background-color:#ECECEC}
tr#TBL-42-582-{background-color:#FFFFFF}
#TBL-47-1{border-left: 1px solid #000;}
#TBL-47-1{border-right:1px solid #000;}
#TBL-47-2{border-right:1px solid #000;}
#TBL-47-3{border-right:1px solid #000;}
tr#TBL-47-663-{background-color:#ECECEC}
tr#TBL-47-664-{background-color:#FFFFFF}
td#TBL-47-2-1{border-left:1px solid #000;border-right:1px solid #000;}
tr#TBL-47-665-{background-color:#ECECEC}
tr#TBL-47-666-{background-color:#FFFFFF}
tr#TBL-47-667-{background-color:#ECECEC}
tr#TBL-47-668-{background-color:#FFFFFF}
tr#TBL-47-669-{background-color:#ECECEC}
tr#TBL-47-670-{background-color:#FFFFFF}
tr#TBL-47-671-{background-color:#ECECEC}
tr#TBL-47-672-{background-color:#FFFFFF}
tr#TBL-47-673-{background-color:#ECECEC}
tr#TBL-47-674-{background-color:#FFFFFF}
tr#TBL-47-675-{background-color:#ECECEC}
tr#TBL-47-676-{background-color:#FFFFFF}
tr#TBL-47-677-{background-color:#ECECEC}
tr#TBL-47-678-{background-color:#FFFFFF}
td#TBL-47-2-1{border-left:1px solid #000;border-right:1px solid #000;border-left:1px solid #000;border-right:1px solid #000;border-right:1px solid #000;border-right:1px solid #000;}
tr#TBL-47-679-{background-color:#ECECEC}
td#TBL-47-3-1{border-left:1px solid #000;border-right:1px solid #000;}
td#TBL-47-3-1{border-left:1px solid #000;border-right:1px solid #000;}
tr#TBL-47-680-{background-color:#FFFFFF}
td#TBL-47-4-1{border-left:1px solid #000;border-right:1px solid #000;}
td#TBL-47-4-1{border-left:1px solid #000;border-right:1px solid #000;}
tr#TBL-47-681-{background-color:#ECECEC}
tr#TBL-47-682-{background-color:#FFFFFF}
tr#TBL-47-683-{background-color:#ECECEC}
tr#TBL-47-684-{background-color:#FFFFFF}
tr#TBL-47-685-{background-color:#ECECEC}
tr#TBL-47-686-{background-color:#FFFFFF}
#TBL-52-1{border-left: 1px solid #000;}
#TBL-52-1{border-right:1px solid #000;}
#TBL-52-2{border-right:1px solid #000;}
#TBL-52-3{border-right:1px solid #000;}
tr#TBL-52-751-{background-color:#ECECEC}
tr#TBL-52-752-{background-color:#FFFFFF}
td#TBL-52-2-1{border-left:1px solid #000;border-right:1px solid #000;}
tr#TBL-52-753-{background-color:#ECECEC}
tr#TBL-52-754-{background-color:#FFFFFF}
tr#TBL-52-755-{background-color:#ECECEC}
tr#TBL-52-756-{background-color:#FFFFFF}
tr#TBL-52-757-{background-color:#ECECEC}
tr#TBL-52-758-{background-color:#FFFFFF}
tr#TBL-52-759-{background-color:#ECECEC}
tr#TBL-52-760-{background-color:#FFFFFF}
tr#TBL-52-761-{background-color:#ECECEC}
tr#TBL-52-762-{background-color:#FFFFFF}
td#TBL-52-2-1{border-left:1px solid #000;border-right:1px solid #000;border-left:1px solid #000;border-right:1px solid #000;border-right:1px solid #000;border-right:1px solid #000;}
tr#TBL-52-763-{background-color:#ECECEC}
td#TBL-52-3-1{border-left:1px solid #000;border-right:1px solid #000;}
td#TBL-52-3-1{border-left:1px solid #000;border-right:1px solid #000;}
tr#TBL-52-764-{background-color:#FFFFFF}
td#TBL-52-4-1{border-left:1px solid #000;border-right:1px solid #000;}
td#TBL-52-4-1{border-left:1px solid #000;border-right:1px solid #000;}
tr#TBL-52-765-{background-color:#ECECEC}
tr#TBL-52-766-{background-color:#FFFFFF}
tr#TBL-52-767-{background-color:#ECECEC}
tr#TBL-52-768-{background-color:#FFFFFF}
tr#TBL-52-769-{background-color:#ECECEC}
tr#TBL-52-770-{background-color:#FFFFFF}
#TBL-57-1{border-left: 1px solid #000;}
#TBL-57-1{border-right:1px solid #000;}
#TBL-57-2{border-right:1px solid #000;}
#TBL-57-3{border-right:1px solid #000;}
tr#TBL-57-835-{background-color:#ECECEC}
tr#TBL-57-836-{background-color:#FFFFFF}
td#TBL-57-2-1{border-left:1px solid #000;border-right:1px solid #000;}
tr#TBL-57-837-{background-color:#ECECEC}
tr#TBL-57-838-{background-color:#FFFFFF}
tr#TBL-57-839-{background-color:#ECECEC}
tr#TBL-57-840-{background-color:#FFFFFF}
tr#TBL-57-841-{background-color:#ECECEC}
tr#TBL-57-842-{background-color:#FFFFFF}
tr#TBL-57-843-{background-color:#ECECEC}
tr#TBL-57-844-{background-color:#FFFFFF}
tr#TBL-57-845-{background-color:#ECECEC}
tr#TBL-57-846-{background-color:#FFFFFF}
td#TBL-57-2-1{border-left:1px solid #000;border-right:1px solid #000;border-left:1px solid #000;border-right:1px solid #000;border-right:1px solid #000;border-right:1px solid #000;}
tr#TBL-57-847-{background-color:#ECECEC}
td#TBL-57-3-1{border-left:1px solid #000;border-right:1px solid #000;}
td#TBL-57-3-1{border-left:1px solid #000;border-right:1px solid #000;}
tr#TBL-57-848-{background-color:#FFFFFF}
td#TBL-57-4-1{border-left:1px solid #000;border-right:1px solid #000;}
td#TBL-57-4-1{border-left:1px solid #000;border-right:1px solid #000;}
tr#TBL-57-849-{background-color:#ECECEC}
tr#TBL-57-850-{background-color:#FFFFFF}
tr#TBL-57-851-{background-color:#ECECEC}
tr#TBL-57-852-{background-color:#FFFFFF}
tr#TBL-57-853-{background-color:#ECECEC}
tr#TBL-57-854-{background-color:#FFFFFF}
#TBL-62-1{border-left: 1px solid #000;}
#TBL-62-1{border-right:1px solid #000;}
#TBL-62-2{border-right:1px solid #000;}
#TBL-62-3{border-right:1px solid #000;}
tr#TBL-62-911-{background-color:#ECECEC}
tr#TBL-62-912-{background-color:#FFFFFF}
td#TBL-62-2-1{border-left:1px solid #000;border-right:1px solid #000;}
tr#TBL-62-913-{background-color:#ECECEC}
tr#TBL-62-914-{background-color:#FFFFFF}
tr#TBL-62-915-{background-color:#ECECEC}
tr#TBL-62-916-{background-color:#FFFFFF}
tr#TBL-62-917-{background-color:#ECECEC}
tr#TBL-62-918-{background-color:#FFFFFF}
tr#TBL-62-919-{background-color:#ECECEC}
tr#TBL-62-920-{background-color:#FFFFFF}
td#TBL-62-2-1{border-left:1px solid #000;border-right:1px solid #000;border-left:1px solid #000;border-right:1px solid #000;border-right:1px solid #000;border-right:1px solid #000;}
tr#TBL-62-921-{background-color:#ECECEC}
td#TBL-62-3-1{border-left:1px solid #000;border-right:1px solid #000;}
td#TBL-62-3-1{border-left:1px solid #000;border-right:1px solid #000;}
tr#TBL-62-922-{background-color:#FFFFFF}
td#TBL-62-4-1{border-left:1px solid #000;border-right:1px solid #000;}
td#TBL-62-4-1{border-left:1px solid #000;border-right:1px solid #000;}
tr#TBL-62-923-{background-color:#ECECEC}
tr#TBL-62-924-{background-color:#FFFFFF}
tr#TBL-62-925-{background-color:#ECECEC}
tr#TBL-62-926-{background-color:#FFFFFF}
tr#TBL-62-927-{background-color:#ECECEC}
tr#TBL-62-928-{background-color:#FFFFFF}
#TBL-67-1{border-left: 1px solid #000;}
#TBL-67-1{border-right:1px solid #000;}
#TBL-67-2{border-right:1px solid #000;}
#TBL-67-3{border-right:1px solid #000;}
tr#TBL-67-989-{background-color:#ECECEC}
tr#TBL-67-990-{background-color:#FFFFFF}
td#TBL-67-2-1{border-left:1px solid #000;border-right:1px solid #000;}
tr#TBL-67-991-{background-color:#ECECEC}
tr#TBL-67-992-{background-color:#FFFFFF}
tr#TBL-67-993-{background-color:#ECECEC}
tr#TBL-67-994-{background-color:#FFFFFF}
tr#TBL-67-995-{background-color:#ECECEC}
tr#TBL-67-996-{background-color:#FFFFFF}
tr#TBL-67-997-{background-color:#ECECEC}
tr#TBL-67-998-{background-color:#FFFFFF}
tr#TBL-67-999-{background-color:#ECECEC}
td#TBL-67-2-1{border-left:1px solid #000;border-right:1px solid #000;border-left:1px solid #000;border-right:1px solid #000;border-right:1px solid #000;border-right:1px solid #000;}
tr#TBL-67-1000-{background-color:#FFFFFF}
td#TBL-67-3-1{border-left:1px solid #000;border-right:1px solid #000;}
td#TBL-67-3-1{border-left:1px solid #000;border-right:1px solid #000;}
tr#TBL-67-1001-{background-color:#ECECEC}
td#TBL-67-4-1{border-left:1px solid #000;border-right:1px solid #000;}
td#TBL-67-4-1{border-left:1px solid #000;border-right:1px solid #000;}
tr#TBL-67-1002-{background-color:#FFFFFF}
tr#TBL-67-1003-{background-color:#ECECEC}
tr#TBL-67-1004-{background-color:#FFFFFF}
tr#TBL-67-1005-{background-color:#ECECEC}
tr#TBL-67-1006-{background-color:#FFFFFF}
tr#TBL-67-1007-{background-color:#ECECEC}
#TBL-72-1{border-left: 1px solid #000;}
#TBL-72-1{border-right:1px solid #000;}
#TBL-72-2{border-right:1px solid #000;}
#TBL-72-3{border-right:1px solid #000;}
tr#TBL-72-1072-{background-color:#FFFFFF}
tr#TBL-72-1073-{background-color:#ECECEC}
td#TBL-72-2-1{border-left:1px solid #000;border-right:1px solid #000;}
tr#TBL-72-1074-{background-color:#FFFFFF}
tr#TBL-72-1075-{background-color:#ECECEC}
tr#TBL-72-1076-{background-color:#FFFFFF}
tr#TBL-72-1077-{background-color:#ECECEC}
tr#TBL-72-1078-{background-color:#FFFFFF}
tr#TBL-72-1079-{background-color:#ECECEC}
tr#TBL-72-1080-{background-color:#FFFFFF}
tr#TBL-72-1081-{background-color:#ECECEC}
tr#TBL-72-1082-{background-color:#FFFFFF}
tr#TBL-72-1083-{background-color:#ECECEC}
td#TBL-72-2-1{border-left:1px solid #000;border-right:1px solid #000;border-left:1px solid #000;border-right:1px solid #000;border-right:1px solid #000;border-right:1px solid #000;}
tr#TBL-72-1084-{background-color:#FFFFFF}
td#TBL-72-3-1{border-left:1px solid #000;border-right:1px solid #000;}
td#TBL-72-3-1{border-left:1px solid #000;border-right:1px solid #000;}
tr#TBL-72-1085-{background-color:#ECECEC}
td#TBL-72-4-1{border-left:1px solid #000;border-right:1px solid #000;}
td#TBL-72-4-1{border-left:1px solid #000;border-right:1px solid #000;}
tr#TBL-72-1086-{background-color:#FFFFFF}
tr#TBL-72-1087-{background-color:#ECECEC}
tr#TBL-72-1088-{background-color:#FFFFFF}
tr#TBL-72-1089-{background-color:#ECECEC}
tr#TBL-72-1090-{background-color:#FFFFFF}
tr#TBL-72-1091-{background-color:#ECECEC}
#TBL-77-1{border-left: 1px solid #000;}
#TBL-77-1{border-right:1px solid #000;}
#TBL-77-2{border-right:1px solid #000;}
#TBL-77-3{border-right:1px solid #000;}
tr#TBL-77-1156-{background-color:#FFFFFF}
tr#TBL-77-1157-{background-color:#ECECEC}
td#TBL-77-2-1{border-left:1px solid #000;border-right:1px solid #000;}
tr#TBL-77-1158-{background-color:#FFFFFF}
tr#TBL-77-1159-{background-color:#ECECEC}
tr#TBL-77-1160-{background-color:#FFFFFF}
tr#TBL-77-1161-{background-color:#ECECEC}
tr#TBL-77-1162-{background-color:#FFFFFF}
tr#TBL-77-1163-{background-color:#ECECEC}
tr#TBL-77-1164-{background-color:#FFFFFF}
tr#TBL-77-1165-{background-color:#ECECEC}
tr#TBL-77-1166-{background-color:#FFFFFF}
tr#TBL-77-1167-{background-color:#ECECEC}
td#TBL-77-2-1{border-left:1px solid #000;border-right:1px solid #000;border-left:1px solid #000;border-right:1px solid #000;border-right:1px solid #000;border-right:1px solid #000;}
tr#TBL-77-1168-{background-color:#FFFFFF}
td#TBL-77-3-1{border-left:1px solid #000;border-right:1px solid #000;}
td#TBL-77-3-1{border-left:1px solid #000;border-right:1px solid #000;}
tr#TBL-77-1169-{background-color:#ECECEC}
td#TBL-77-4-1{border-left:1px solid #000;border-right:1px solid #000;}
td#TBL-77-4-1{border-left:1px solid #000;border-right:1px solid #000;}
tr#TBL-77-1170-{background-color:#FFFFFF}
tr#TBL-77-1171-{background-color:#ECECEC}
tr#TBL-77-1172-{background-color:#FFFFFF}
tr#TBL-77-1173-{background-color:#ECECEC}
tr#TBL-77-1174-{background-color:#FFFFFF}
tr#TBL-77-1175-{background-color:#ECECEC}
#listing-1{background-color:#F1F1F1;}
#listing-2{background-color:#F1F1F1;}
#listing-3{background-color:#F1F1F1;}
#TBL-82-1{border-left: 1px solid #000;}
#TBL-82-1{border-right:1px solid #000;}
#TBL-82-2{border-right:1px solid #000;}
#TBL-82-3{border-right:1px solid #000;}
tr#TBL-82-1240-{background-color:#FFFFFF}
tr#TBL-82-1241-{background-color:#ECECEC}
td#TBL-82-2-1{border-left:1px solid #000;border-right:1px solid #000;}
tr#TBL-82-1242-{background-color:#FFFFFF}
tr#TBL-82-1243-{background-color:#ECECEC}
tr#TBL-82-1244-{background-color:#FFFFFF}
tr#TBL-82-1245-{background-color:#ECECEC}
tr#TBL-82-1246-{background-color:#FFFFFF}
tr#TBL-82-1247-{background-color:#ECECEC}
tr#TBL-82-1248-{background-color:#FFFFFF}
tr#TBL-82-1249-{background-color:#ECECEC}
tr#TBL-82-1250-{background-color:#FFFFFF}
tr#TBL-82-1251-{background-color:#ECECEC}
td#TBL-82-2-1{border-left:1px solid #000;border-right:1px solid #000;border-left:1px solid #000;border-right:1px solid #000;border-right:1px solid #000;border-right:1px solid #000;}
tr#TBL-82-1252-{background-color:#FFFFFF}
td#TBL-82-3-1{border-left:1px solid #000;border-right:1px solid #000;}
td#TBL-82-3-1{border-left:1px solid #000;border-right:1px solid #000;}
tr#TBL-82-1253-{background-color:#ECECEC}
td#TBL-82-4-1{border-left:1px solid #000;border-right:1px solid #000;}
td#TBL-82-4-1{border-left:1px solid #000;border-right:1px solid #000;}
tr#TBL-82-1254-{background-color:#FFFFFF}
tr#TBL-82-1255-{background-color:#ECECEC}
tr#TBL-82-1256-{background-color:#FFFFFF}
tr#TBL-82-1257-{background-color:#ECECEC}
tr#TBL-82-1258-{background-color:#FFFFFF}
tr#TBL-82-1259-{background-color:#ECECEC}
#TBL-87-1{border-left: 1px solid #000;}
#TBL-87-1{border-right:1px solid #000;}
#TBL-87-2{border-right:1px solid #000;}
#TBL-87-3{border-right:1px solid #000;}
tr#TBL-87-1328-{background-color:#FFFFFF}
tr#TBL-87-1329-{background-color:#ECECEC}
td#TBL-87-2-1{border-left:1px solid #000;border-right:1px solid #000;}
tr#TBL-87-1330-{background-color:#FFFFFF}
tr#TBL-87-1331-{background-color:#ECECEC}
tr#TBL-87-1332-{background-color:#FFFFFF}
tr#TBL-87-1333-{background-color:#ECECEC}
tr#TBL-87-1334-{background-color:#FFFFFF}
tr#TBL-87-1335-{background-color:#ECECEC}
tr#TBL-87-1336-{background-color:#FFFFFF}
tr#TBL-87-1337-{background-color:#ECECEC}
tr#TBL-87-1338-{background-color:#FFFFFF}
tr#TBL-87-1339-{background-color:#ECECEC}
tr#TBL-87-1340-{background-color:#FFFFFF}
td#TBL-87-2-1{border-left:1px solid #000;border-right:1px solid #000;border-left:1px solid #000;border-right:1px solid #000;border-right:1px solid #000;border-right:1px solid #000;}
tr#TBL-87-1341-{background-color:#ECECEC}
td#TBL-87-3-1{border-left:1px solid #000;border-right:1px solid #000;}
td#TBL-87-3-1{border-left:1px solid #000;border-right:1px solid #000;}
tr#TBL-87-1342-{background-color:#FFFFFF}
td#TBL-87-4-1{border-left:1px solid #000;border-right:1px solid #000;}
td#TBL-87-4-1{border-left:1px solid #000;border-right:1px solid #000;}
tr#TBL-87-1343-{background-color:#ECECEC}
tr#TBL-87-1344-{background-color:#FFFFFF}
tr#TBL-87-1345-{background-color:#ECECEC}
tr#TBL-87-1346-{background-color:#FFFFFF}
tr#TBL-87-1347-{background-color:#ECECEC}
tr#TBL-87-1348-{background-color:#FFFFFF}
#TBL-92-1{border-left: 1px solid #000;}
#TBL-92-1{border-right:1px solid #000;}
#TBL-92-2{border-right:1px solid #000;}
#TBL-92-3{border-right:1px solid #000;}
tr#TBL-92-1409-{background-color:#ECECEC}
tr#TBL-92-1410-{background-color:#FFFFFF}
td#TBL-92-2-1{border-left:1px solid #000;border-right:1px solid #000;}
tr#TBL-92-1411-{background-color:#ECECEC}
tr#TBL-92-1412-{background-color:#FFFFFF}
tr#TBL-92-1413-{background-color:#ECECEC}
tr#TBL-92-1414-{background-color:#FFFFFF}
tr#TBL-92-1415-{background-color:#ECECEC}
tr#TBL-92-1416-{background-color:#FFFFFF}
tr#TBL-92-1417-{background-color:#ECECEC}
tr#TBL-92-1418-{background-color:#FFFFFF}
tr#TBL-92-1419-{background-color:#ECECEC}
td#TBL-92-2-1{border-left:1px solid #000;border-right:1px solid #000;border-left:1px solid #000;border-right:1px solid #000;border-right:1px solid #000;border-right:1px solid #000;}
tr#TBL-92-1420-{background-color:#FFFFFF}
td#TBL-92-3-1{border-left:1px solid #000;border-right:1px solid #000;}
td#TBL-92-3-1{border-left:1px solid #000;border-right:1px solid #000;}
tr#TBL-92-1421-{background-color:#ECECEC}
td#TBL-92-4-1{border-left:1px solid #000;border-right:1px solid #000;}
td#TBL-92-4-1{border-left:1px solid #000;border-right:1px solid #000;}
tr#TBL-92-1422-{background-color:#FFFFFF}
tr#TBL-92-1423-{background-color:#ECECEC}
tr#TBL-92-1424-{background-color:#FFFFFF}
tr#TBL-92-1425-{background-color:#ECECEC}
tr#TBL-92-1426-{background-color:#FFFFFF}
tr#TBL-92-1427-{background-color:#ECECEC}
#TBL-97-1{border-left: 1px solid #000;}
#TBL-97-1{border-right:1px solid #000;}
#TBL-97-2{border-right:1px solid #000;}
#TBL-97-3{border-right:1px solid #000;}
tr#TBL-97-1492-{background-color:#FFFFFF}
tr#TBL-97-1493-{background-color:#ECECEC}
td#TBL-97-2-1{border-left:1px solid #000;border-right:1px solid #000;}
tr#TBL-97-1494-{background-color:#FFFFFF}
tr#TBL-97-1495-{background-color:#ECECEC}
tr#TBL-97-1496-{background-color:#FFFFFF}
tr#TBL-97-1497-{background-color:#ECECEC}
tr#TBL-97-1498-{background-color:#FFFFFF}
tr#TBL-97-1499-{background-color:#ECECEC}
tr#TBL-97-1500-{background-color:#FFFFFF}
tr#TBL-97-1501-{background-color:#ECECEC}
tr#TBL-97-1502-{background-color:#FFFFFF}
tr#TBL-97-1503-{background-color:#ECECEC}
td#TBL-97-2-1{border-left:1px solid #000;border-right:1px solid #000;border-left:1px solid #000;border-right:1px solid #000;border-right:1px solid #000;border-right:1px solid #000;}
tr#TBL-97-1504-{background-color:#FFFFFF}
td#TBL-97-3-1{border-left:1px solid #000;border-right:1px solid #000;}
td#TBL-97-3-1{border-left:1px solid #000;border-right:1px solid #000;}
tr#TBL-97-1505-{background-color:#ECECEC}
td#TBL-97-4-1{border-left:1px solid #000;border-right:1px solid #000;}
td#TBL-97-4-1{border-left:1px solid #000;border-right:1px solid #000;}
tr#TBL-97-1506-{background-color:#FFFFFF}
tr#TBL-97-1507-{background-color:#ECECEC}
tr#TBL-97-1508-{background-color:#FFFFFF}
tr#TBL-97-1509-{background-color:#ECECEC}
tr#TBL-97-1510-{background-color:#FFFFFF}
tr#TBL-97-1511-{background-color:#ECECEC}
#TBL-102-1{border-left: 1px solid #000;}
#TBL-102-1{border-right:1px solid #000;}
#TBL-102-2{border-right:1px solid #000;}
#TBL-102-3{border-right:1px solid #000;}
tr#TBL-102-1576-{background-color:#FFFFFF}
tr#TBL-102-1577-{background-color:#ECECEC}
td#TBL-102-2-1{border-left:1px solid #000;border-right:1px solid #000;}
tr#TBL-102-1578-{background-color:#FFFFFF}
tr#TBL-102-1579-{background-color:#ECECEC}
tr#TBL-102-1580-{background-color:#FFFFFF}
tr#TBL-102-1581-{background-color:#ECECEC}
tr#TBL-102-1582-{background-color:#FFFFFF}
tr#TBL-102-1583-{background-color:#ECECEC}
tr#TBL-102-1584-{background-color:#FFFFFF}
tr#TBL-102-1585-{background-color:#ECECEC}
tr#TBL-102-1586-{background-color:#FFFFFF}
tr#TBL-102-1587-{background-color:#ECECEC}
td#TBL-102-2-1{border-left:1px solid #000;border-right:1px solid #000;border-left:1px solid #000;border-right:1px solid #000;border-right:1px solid #000;border-right:1px solid #000;}
tr#TBL-102-1588-{background-color:#FFFFFF}
td#TBL-102-3-1{border-left:1px solid #000;border-right:1px solid #000;}
td#TBL-102-3-1{border-left:1px solid #000;border-right:1px solid #000;}
tr#TBL-102-1589-{background-color:#ECECEC}
td#TBL-102-4-1{border-left:1px solid #000;border-right:1px solid #000;}
td#TBL-102-4-1{border-left:1px solid #000;border-right:1px solid #000;}
tr#TBL-102-1590-{background-color:#FFFFFF}
tr#TBL-102-1591-{background-color:#ECECEC}
tr#TBL-102-1592-{background-color:#FFFFFF}
tr#TBL-102-1593-{background-color:#ECECEC}
tr#TBL-102-1594-{background-color:#FFFFFF}
tr#TBL-102-1595-{background-color:#ECECEC}
#TBL-107-1{border-left: 1px solid #000;}
#TBL-107-1{border-right:1px solid #000;}
#TBL-107-2{border-right:1px solid #000;}
#TBL-107-3{border-right:1px solid #000;}
tr#TBL-107-1652-{background-color:#FFFFFF}
tr#TBL-107-1653-{background-color:#ECECEC}
td#TBL-107-2-1{border-left:1px solid #000;border-right:1px solid #000;}
tr#TBL-107-1654-{background-color:#FFFFFF}
tr#TBL-107-1655-{background-color:#ECECEC}
tr#TBL-107-1656-{background-color:#FFFFFF}
tr#TBL-107-1657-{background-color:#ECECEC}
tr#TBL-107-1658-{background-color:#FFFFFF}
tr#TBL-107-1659-{background-color:#ECECEC}
tr#TBL-107-1660-{background-color:#FFFFFF}
tr#TBL-107-1661-{background-color:#ECECEC}
td#TBL-107-2-1{border-left:1px solid #000;border-right:1px solid #000;border-left:1px solid #000;border-right:1px solid #000;border-right:1px solid #000;border-right:1px solid #000;}
tr#TBL-107-1662-{background-color:#FFFFFF}
td#TBL-107-3-1{border-left:1px solid #000;border-right:1px solid #000;}
td#TBL-107-3-1{border-left:1px solid #000;border-right:1px solid #000;}
tr#TBL-107-1663-{background-color:#ECECEC}
td#TBL-107-4-1{border-left:1px solid #000;border-right:1px solid #000;}
td#TBL-107-4-1{border-left:1px solid #000;border-right:1px solid #000;}
tr#TBL-107-1664-{background-color:#FFFFFF}
tr#TBL-107-1665-{background-color:#ECECEC}
tr#TBL-107-1666-{background-color:#FFFFFF}
tr#TBL-107-1667-{background-color:#ECECEC}
tr#TBL-107-1668-{background-color:#FFFFFF}
tr#TBL-107-1669-{background-color:#ECECEC}
#TBL-112-1{border-left: 1px solid #000;}
#TBL-112-1{border-right:1px solid #000;}
#TBL-112-2{border-right:1px solid #000;}
#TBL-112-3{border-right:1px solid #000;}
tr#TBL-112-1726-{background-color:#FFFFFF}
tr#TBL-112-1727-{background-color:#ECECEC}
td#TBL-112-2-1{border-left:1px solid #000;border-right:1px solid #000;}
tr#TBL-112-1728-{background-color:#FFFFFF}
tr#TBL-112-1729-{background-color:#ECECEC}
tr#TBL-112-1730-{background-color:#FFFFFF}
tr#TBL-112-1731-{background-color:#ECECEC}
tr#TBL-112-1732-{background-color:#FFFFFF}
tr#TBL-112-1733-{background-color:#ECECEC}
tr#TBL-112-1734-{background-color:#FFFFFF}
tr#TBL-112-1735-{background-color:#ECECEC}
tr#TBL-112-1736-{background-color:#FFFFFF}
td#TBL-112-2-1{border-left:1px solid #000;border-right:1px solid #000;border-left:1px solid #000;border-right:1px solid #000;border-right:1px solid #000;border-right:1px solid #000;}
tr#TBL-112-1737-{background-color:#ECECEC}
td#TBL-112-3-1{border-left:1px solid #000;border-right:1px solid #000;}
td#TBL-112-3-1{border-left:1px solid #000;border-right:1px solid #000;}
tr#TBL-112-1738-{background-color:#FFFFFF}
tr#TBL-112-1739-{background-color:#ECECEC}
tr#TBL-112-1740-{background-color:#FFFFFF}
tr#TBL-112-1741-{background-color:#ECECEC}
tr#TBL-112-1742-{background-color:#FFFFFF}
tr#TBL-112-1743-{background-color:#ECECEC}
#TBL-117-1{border-left: 1px solid #000;}
#TBL-117-1{border-right:1px solid #000;}
#TBL-117-2{border-right:1px solid #000;}
#TBL-117-3{border-right:1px solid #000;}
tr#TBL-117-1796-{background-color:#FFFFFF}
tr#TBL-117-1797-{background-color:#ECECEC}
td#TBL-117-2-1{border-left:1px solid #000;border-right:1px solid #000;}
tr#TBL-117-1798-{background-color:#FFFFFF}
tr#TBL-117-1799-{background-color:#ECECEC}
tr#TBL-117-1800-{background-color:#FFFFFF}
tr#TBL-117-1801-{background-color:#ECECEC}
tr#TBL-117-1802-{background-color:#FFFFFF}
tr#TBL-117-1803-{background-color:#ECECEC}
tr#TBL-117-1804-{background-color:#FFFFFF}
tr#TBL-117-1805-{background-color:#ECECEC}
td#TBL-117-2-1{border-left:1px solid #000;border-right:1px solid #000;border-left:1px solid #000;border-right:1px solid #000;border-right:1px solid #000;border-right:1px solid #000;}
tr#TBL-117-1806-{background-color:#FFFFFF}
td#TBL-117-3-1{border-left:1px solid #000;border-right:1px solid #000;}
td#TBL-117-3-1{border-left:1px solid #000;border-right:1px solid #000;}
tr#TBL-117-1807-{background-color:#ECECEC}
tr#TBL-117-1808-{background-color:#FFFFFF}
tr#TBL-117-1809-{background-color:#ECECEC}
tr#TBL-117-1810-{background-color:#FFFFFF}
tr#TBL-117-1811-{background-color:#ECECEC}
tr#TBL-117-1812-{background-color:#FFFFFF}
#listing-4{background-color:#F1F1F1;}
#listing-5{background-color:#F2F2EB;}
/* end css.sty */

