 
/* start css.sty */
.cmr-10{font-size:90%;}
.cmr-10x-x-109{}
.cmr-17{font-size:154%;}
.cmr-12{font-size:109%;}
.cmr-8{font-size:72%;}
.cmtt-10x-x-109{font-family: monospace,monospace;}
.cmbx-10x-x-109{ font-weight: bold;}
.cmmi-10x-x-109{font-style: italic;}
.cmsy-10x-x-109{}
.cmex-10x-x-109{}
.cmti-10x-x-109{ font-style: italic;}
.cmr-9{font-size:81%;}
.cmti-9{font-size:81%; font-style: italic;}
.cmti-8{font-size:72%; font-style: italic;}
.feybr-10x-x-109{font-weight: bold;}
.feymr-10x-x-109{}
p{margin-top:0;margin-bottom:0}
p.indent{text-indent:0;}
p + p{margin-top:1em;}
p + div, p + pre {margin-top:1em;}
div + p, pre + p {margin-top:1em;}
a { overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; hyphens: auto; }
@media print {div.crosslinks {visibility:hidden;}}
table.tabular{border-collapse: collapse; border-spacing: 0;}
a img { border-top: 0; border-left: 0; border-right: 0; }
center { margin-top:1em; margin-bottom:1em; }
td center { margin-top:0em; margin-bottom:0em; }
.Canvas { position:relative; }
img.math{vertical-align:middle;}
div.par-math-display, div.math-display{text-align:center;}
body{ margin:1em auto; max-width:80ch; padding:0 .62em; }
h1,h2,h3,h4,h5 { line-height:1.2; }
@media print{ body{ max-width:none } }
.partHead, .likepartHead { font-size: 2em; }
.chapterHead, .likechapterHead { font-size: 1.7411em; }
.sectionHead, .likesectionHead { font-size: 1.5157em; }
.subsectionHead, .likesubsectionHead { font-size: 1.3195em; }
.subsubsectionHead, .likesubsubsectionHead { font-size: 1.1487em; }
 @media (prefers-color-scheme: dark) { img[src^="main"]{filter: invert(1); } } 
 body { background-color: Canvas; color: CanvasText; color-scheme: light dark; } 
li p.indent { text-indent: 0em }
li p:first-child{ margin-top:0em; }
li p:last-child, li div:last-child { margin-bottom:0.5em; }
li p:first-child{ margin-bottom:0; }
li p~ul:last-child, li p~ol:last-child{ margin-bottom:0.5em; }
ul.itemize1,ol.enumerate1{padding-left: 0;}
ul li.itemize,ol li.enumerate{margin-left: 1rem;}
.enumerate1 {list-style-type:decimal;}
.enumerate2 {list-style-type:lower-alpha;}
.enumerate3 {list-style-type:lower-roman;}
.enumerate4 {list-style-type:upper-alpha;}
div.newtheorem { margin-bottom: 2em; margin-top: 2em;}
div.newtheorem .head{font-weight: bold;}
.obeylines-h,.obeylines-v {white-space: nowrap; }
div.obeylines-v p { margin-top:0; margin-bottom:0; }
.overline{ text-decoration:overline; }
.overline img{ border-top: 1px solid black; }
td.displaylines {text-align:center; white-space:nowrap;}
.centerline {text-align:center;}
.rightline {text-align:right;}
pre.verbatim {font-family: monospace,monospace; text-align:left; clear:both; }
.fbox {padding-left:3.0pt; padding-right:3.0pt; text-indent:0pt; border:solid black 0.4pt; }
div.fbox {display:table}
div.center div.fbox {text-align:center; clear:both; padding-left:3.0pt; padding-right:3.0pt; text-indent:0pt; border:solid black 0.4pt; }
div.minipage{width:100%;}
div.center, div.center div.center {text-align: center; margin-left:1em; margin-right:1em;}
div.center div {text-align: left;}
div.flushright, div.flushright div.flushright {text-align: right;}
div.flushright div {text-align: left;}
div.flushleft {text-align: left;}
.underline{ text-decoration:underline; }
.underline img{ border-bottom: 1px solid black; margin-bottom:1pt; }
.framebox-c, .framebox-l, .framebox-r { padding-left:3.0pt; padding-right:3.0pt; text-indent:0pt; border:solid black 0.4pt; }
.framebox-c {text-align:center;}
.framebox-l {text-align:left;}
.framebox-r {text-align:right;}
span.thank-mark{ vertical-align: super }
span.footnote-mark sup.textsuperscript, span.footnote-mark a sup.textsuperscript{ font-size:80%; }
code.verb{font-family:monospace,monospace;}
div.tabular, div.center div.tabular {text-align: center; margin-top:0.5em; margin-bottom:0.5em; }
table.tabular td p{margin-top:0em;}
table.tabular {margin-left: auto; margin-right: auto;}
td p:first-child{ margin-top:0em; }
td p:last-child{ margin-bottom:0em; }
div.td00{ margin-left:0pt; margin-right:0pt; }
div.td01{ margin-left:0pt; margin-right:5pt; }
div.td10{ margin-left:5pt; margin-right:0pt; }
div.td11{ margin-left:5pt; margin-right:5pt; }
table[rules] {border-left:solid black 0.4pt; border-right:solid black 0.4pt; }
td.td00{ padding-left:0pt; padding-right:0pt; }
td.td01{ padding-left:0pt; padding-right:5pt; }
td.td10{ padding-left:5pt; padding-right:0pt; }
td.td11{ padding-left:5pt; padding-right:5pt; }
table[rules] {border-left:solid black 0.4pt; border-right:solid black 0.4pt; }
.hline hr, .cline hr{ height : 0px; margin:0px; }
.hline td, .cline td{ padding: 0; }
.hline hr, .cline hr{border:none;border-top:1px solid black;}
.hline {border-top: 1px solid black;}
.hline + .vspace:last-child{display:none;}
.tabbing-right {text-align:right;}
div.float, div.figure {margin-left: auto; margin-right: auto;}
div.float img {text-align:center;}
div.figure img {text-align:center;}
.marginpar,.reversemarginpar {width:20%; float:right; text-align:left; margin-left:auto; margin-top:0.5em; font-size:85%; text-decoration:underline;}
.marginpar p,.reversemarginpar p{margin-top:0.4em; margin-bottom:0.4em;}
.reversemarginpar{float:left;}
table.equation {width:100%;}
.equation td{text-align:center; }
td.equation { margin-top:1em; margin-bottom:1em; } 
td.equation-label { width:5%; text-align:center; }
td.eqnarray4 { width:5%; white-space: normal; }
td.eqnarray2 { width:5%; }
table.eqnarray-star, table.eqnarray {width:100%;}
div.eqnarray{text-align:center;}
div.array {text-align:center;}
div.pmatrix {text-align:center;}
table.pmatrix {width:100%;}
span.pmatrix img{vertical-align:middle;}
div.pmatrix {text-align:center;}
table.pmatrix {width:100%;}
span.bar-css {text-decoration:overline;}
img.cdots{vertical-align:middle;}
div.tabular, div.center div.tabular {text-align: center; margin-top:0.5em; margin-bottom:0.5em; }
table.tabular td p{margin-top:0em;}
table.tabular {margin-left: auto; margin-right: auto;}
td p:first-child{ margin-top:0em; }
td p:last-child{ margin-bottom:0em; }
div.td00{ margin-left:0pt; margin-right:0pt; }
div.td01{ margin-left:0pt; margin-right:5pt; }
div.td10{ margin-left:5pt; margin-right:0pt; }
div.td11{ margin-left:5pt; margin-right:5pt; }
table[rules] {border-left:solid black 0.4pt; border-right:solid black 0.4pt; }
td.td00{ padding-left:0pt; padding-right:0pt; }
td.td01{ padding-left:0pt; padding-right:5pt; }
td.td10{ padding-left:5pt; padding-right:0pt; }
td.td11{ padding-left:5pt; padding-right:5pt; }
table[rules] {border-left:solid black 0.4pt; border-right:solid black 0.4pt; }
.hline hr, .cline hr{ height : 0px; margin:0px; }
.hline td, .cline td{ padding: 0; }
.hline hr, .cline hr{border:none;border-top:1px solid black;}
.hline {border-top: 1px solid black;}
.hline + .vspace:last-child{display:none;}
div.array {text-align:center;}
tr.hline td hr{display:none}
.partToc a, .partToc, .likepartToc a, .likepartToc {line-height: 200%; font-weight:bold; font-size:110%;}
.index-item, .index-subitem, .index-subsubitem {display:block}
div.caption {text-indent:-2em; margin-left:3em; margin-right:1em; text-align:center; margin-top: 0.5rem;}
div.caption span.id{font-weight: bold; white-space: nowrap; }
h1.partHead{text-align: center}
p.bibitem { text-indent: -2em; margin-left: 2em; margin-top:0.6em; margin-bottom:0.6em; }
p.bibitem-p { text-indent: 0em; margin-left: 2em; margin-top:0.6em; margin-bottom:0.6em; }
.subsubsectionHead, .likesubsubsectionHead { font-size: 1em; }
.paragraphHead, .likeparagraphHead { margin-top:2em; font-weight: bold;}
.subparagraphHead, .likesubparagraphHead { font-weight: bold;}
.verse{white-space:nowrap; margin-left:2em}
div.maketitle {text-align:center;}
h2.titleHead{text-align:center;}
div.maketitle{ margin-bottom: 2em; }
div.author, div.date {text-align:center;}
div.thanks{text-align:left; margin-left:10%; font-size:85%; font-style:italic; }
div.author{white-space: nowrap;}
div.abstract p {margin-left:5%; margin-right:5%;}
div.abstract {width:100%;}
.abstracttitle{text-align:center;margin-bottom:1em;}
.subsectionToc, .likesubsectionToc {margin-left:1em;}
.subsubsectionToc, .likesubsubsectionToc {margin-left:2em;}
.paragraphToc, .likeparagraphToc {margin-left:3em;}
.subparagraphToc, .likesubparagraphToc {margin-left:4em;}
figure.float, div.figure {margin-left: auto; margin-right: auto;}
figure.figure {text-align:center;}
figcaption.caption {text-indent:-2em; margin-left:3em; margin-right:1em; text-align:center;}
figcaption.caption span.id{font-weight: bold; white-space: nowrap; }
p + figcaption, img + figcaption{margin-top: 1em;}
.thebibliography dl { display: grid; grid-auto-columns: min-content 1fr; grid-auto-flow: column; }
.thebibliography dt { grid-column: 1; margin-bottom: 0.5em; }
.abstract{margin:1em;}
.equation td{text-align:center; }
.equation-star td{text-align:center; }
table.equation-star { width:100%; }
table.equation { width:100%; }
table.align, table.alignat, table.xalignat, table.xxalignat, table.flalign {width:95%; margin-left:5%; white-space: nowrap;}
table.align-star, table.alignat-star, table.xalignat-star, table.flalign-star {margin-left:auto; margin-right:auto; white-space: nowrap;}
td.align-label { width:5%; text-align:center; }
td.align-odd { text-align:right; padding-right:0.3em;}
td.align-even { text-align:left; padding-right:0.6em;}
table.multline, table.multline-star {width:100%;}
td.gather {text-align:center; }
table.gather {width:100%;}
div.gather-star {text-align:center;}
.rotatebox{display: inline-block;}
code.lstinline{font-family:monospace,monospace;}
pre.listings{font-family: monospace,monospace; white-space: pre-wrap; margin-top:0.5em; margin-bottom:0.5em; }
.lstlisting .label{margin-right:0.5em; }
pre.lstlisting{font-family: monospace,monospace; white-space: pre-wrap; margin-top:0.5em; margin-bottom:0.5em; text-align: left; }
pre.lstinputlisting{ font-family: monospace,monospace; white-space: pre-wrap; text-align: left; }
.lstinputlisting .label{margin-right:0.5em;}
table[rules] {border-left:solid black 0.4pt; border-right:solid black 0.4pt; }
table.longtable{border-collapse: collapse; border-spacing: 0;}
div.longtable{text-align:center;}
table.longtable{margin-left:auto; margin-right: auto;}
caption.longtable .id{font-weight:bold;}
.glsgroupskip{margin-bottom:1rem;}
.glsgroupskip + .glsgroupskip{margin-bottom: 0;}
.supertabular {text-align:center}
dt.printshorthands{float:left; clear:left; margin-right:1em;}
#TBL-2-1{border-left: 1px solid #000;}
#TBL-2-1{border-right:1px solid #000;}
#TBL-2-2{border-right:1px solid #000;}
#TBL-2-3{border-right:1px solid #000;}
#TBL-2-4{border-right:1px solid #000;}
#TBL-3-1{border-left: 1px solid #000;}
#TBL-3-1{border-right:1px solid #000;}
#TBL-3-2{border-right:1px solid #000;}
#TBL-3-3{border-right:1px solid #000;}
#TBL-3-4{border-right:1px solid #000;}
#TBL-3-5{border-right:1px solid #000;}
td#TBL-3-10-1{border-left:1px solid #000;border-right:1px solid #000;}
td#TBL-3-10-1{border-left:1px solid #000;border-right:1px solid #000;}
#TBL-4-1{border-left: 1px solid #000;}
#TBL-4-1{border-right:1px solid #000;}
#TBL-4-2{border-right:1px solid #000;}
#TBL-4-3{border-right:1px solid #000;}
#TBL-4-4{border-right:1px solid #000;}
#TBL-5-1{border-left: 1px solid #000;}
#TBL-5-1{border-right:1px solid #000;}
#TBL-5-2{border-right:1px solid #000;}
#TBL-5-3{border-right:1px solid #000;}
#TBL-5-4{border-right:1px solid #000;}
#TBL-6-1{border-left: 1px solid #000;}
#TBL-6-1{border-right:1px solid #000;}
#TBL-6-2{border-right:1px solid #000;}
#TBL-6-3{border-right:1px solid #000;}
#TBL-6-4{border-right:1px solid #000;}
#TBL-7-1{border-left: 1px solid #000;}
#TBL-7-1{border-right:1px solid #000;}
#TBL-7-2{border-right:1px solid #000;}
#TBL-7-3{border-right:1px solid #000;}
#TBL-7-4{border-right:1px solid #000;}
#TBL-8-1{border-left: 1px solid #000;}
#TBL-8-1{border-right:1px solid #000;}
#TBL-8-2{border-right:1px solid #000;}
#TBL-8-3{border-right:1px solid #000;}
#TBL-8-4{border-right:1px solid #000;}
#TBL-13-1{border-left: 1px solid #000;}
#TBL-13-1{border-right:1px solid #000;}
#TBL-13-2{border-right:1px solid #000;}
#TBL-13-3{border-right:1px solid #000;}
#TBL-13-4{border-right:1px solid #000;}
tr#TBL-13-87-{background-color:#ECECEC}
tr#TBL-14-88-{background-color:#FFFFFF}
tr#TBL-14-89-{background-color:#ECECEC}
tr#TBL-14-90-{background-color:#FFFFFF}
tr#TBL-13-91-{background-color:#ECECEC}
tr#TBL-13-92-{background-color:#FFFFFF}
tr#TBL-13-93-{background-color:#ECECEC}
tr#TBL-13-94-{background-color:#FFFFFF}
tr#TBL-13-95-{background-color:#ECECEC}
tr#TBL-13-96-{background-color:#FFFFFF}
tr#TBL-13-97-{background-color:#ECECEC}
tr#TBL-13-98-{background-color:#FFFFFF}
tr#TBL-13-99-{background-color:#ECECEC}
tr#TBL-13-100-{background-color:#FFFFFF}
tr#TBL-13-101-{background-color:#ECECEC}
tr#TBL-13-102-{background-color:#FFFFFF}
tr#TBL-13-103-{background-color:#ECECEC}
tr#TBL-13-104-{background-color:#FFFFFF}
tr#TBL-13-105-{background-color:#ECECEC}
tr#TBL-13-106-{background-color:#FFFFFF}
tr#TBL-13-107-{background-color:#ECECEC}
tr#TBL-13-108-{background-color:#FFFFFF}
tr#TBL-13-109-{background-color:#ECECEC}
tr#TBL-13-110-{background-color:#FFFFFF}
tr#TBL-13-111-{background-color:#ECECEC}
tr#TBL-13-112-{background-color:#FFFFFF}
tr#TBL-13-113-{background-color:#ECECEC}
tr#TBL-13-114-{background-color:#FFFFFF}
tr#TBL-13-115-{background-color:#ECECEC}
tr#TBL-13-116-{background-color:#FFFFFF}
tr#TBL-13-117-{background-color:#ECECEC}
tr#TBL-13-118-{background-color:#FFFFFF}
tr#TBL-13-119-{background-color:#ECECEC}
tr#TBL-13-120-{background-color:#FFFFFF}
tr#TBL-13-121-{background-color:#ECECEC}
tr#TBL-13-122-{background-color:#FFFFFF}
tr#TBL-13-123-{background-color:#ECECEC}
tr#TBL-13-124-{background-color:#FFFFFF}
tr#TBL-13-125-{background-color:#ECECEC}
tr#TBL-13-126-{background-color:#FFFFFF}
tr#TBL-13-127-{background-color:#ECECEC}
tr#TBL-13-128-{background-color:#FFFFFF}
tr#TBL-13-129-{background-color:#ECECEC}
tr#TBL-13-130-{background-color:#FFFFFF}
tr#TBL-13-131-{background-color:#ECECEC}
tr#TBL-13-132-{background-color:#FFFFFF}
tr#TBL-13-133-{background-color:#ECECEC}
#TBL-18-1{border-left: 1px solid #000;}
#TBL-18-1{border-right:1px solid #000;}
#TBL-18-2{border-right:1px solid #000;}
#TBL-18-3{border-right:1px solid #000;}
#TBL-18-4{border-right:1px solid #000;}
tr#TBL-18-152-{background-color:#FFFFFF}
tr#TBL-18-153-{background-color:#ECECEC}
tr#TBL-18-154-{background-color:#FFFFFF}
tr#TBL-18-155-{background-color:#ECECEC}
tr#TBL-18-156-{background-color:#FFFFFF}
tr#TBL-18-157-{background-color:#ECECEC}
tr#TBL-18-158-{background-color:#FFFFFF}
tr#TBL-18-159-{background-color:#ECECEC}
tr#TBL-18-160-{background-color:#FFFFFF}
tr#TBL-18-161-{background-color:#ECECEC}
#TBL-22-1{border-left: 1px solid #000;}
#TBL-22-1{border-right:1px solid #000;}
#TBL-22-2{border-right:1px solid #000;}
#TBL-22-3{border-right:1px solid #000;}
#TBL-22-4{border-right:1px solid #000;}
tr#TBL-22-183-{background-color:#ECECEC}
tr#TBL-22-184-{background-color:#FFFFFF}
tr#TBL-22-185-{background-color:#ECECEC}
tr#TBL-22-186-{background-color:#FFFFFF}
tr#TBL-22-187-{background-color:#ECECEC}
tr#TBL-22-188-{background-color:#FFFFFF}
tr#TBL-22-189-{background-color:#ECECEC}
tr#TBL-22-190-{background-color:#FFFFFF}
tr#TBL-22-191-{background-color:#ECECEC}
tr#TBL-22-192-{background-color:#FFFFFF}
tr#TBL-22-193-{background-color:#ECECEC}
#TBL-26-1{border-left: 1px solid #000;}
#TBL-26-1{border-right:1px solid #000;}
#TBL-26-2{border-right:1px solid #000;}
#TBL-26-3{border-right:1px solid #000;}
#TBL-26-4{border-right:1px solid #000;}
tr#TBL-26-290-{background-color:#FFFFFF}
tr#TBL-26-291-{background-color:#ECECEC}
tr#TBL-26-292-{background-color:#FFFFFF}
tr#TBL-26-293-{background-color:#ECECEC}
tr#TBL-26-294-{background-color:#FFFFFF}
tr#TBL-26-295-{background-color:#ECECEC}
tr#TBL-26-296-{background-color:#FFFFFF}
tr#TBL-26-297-{background-color:#ECECEC}
tr#TBL-26-298-{background-color:#FFFFFF}
tr#TBL-26-299-{background-color:#ECECEC}
tr#TBL-26-300-{background-color:#FFFFFF}
tr#TBL-26-301-{background-color:#ECECEC}
tr#TBL-26-302-{background-color:#FFFFFF}
tr#TBL-26-303-{background-color:#ECECEC}
tr#TBL-26-304-{background-color:#FFFFFF}
tr#TBL-26-305-{background-color:#ECECEC}
tr#TBL-26-306-{background-color:#FFFFFF}
tr#TBL-26-307-{background-color:#ECECEC}
tr#TBL-26-308-{background-color:#FFFFFF}
tr#TBL-26-309-{background-color:#ECECEC}
tr#TBL-26-310-{background-color:#FFFFFF}
tr#TBL-26-311-{background-color:#ECECEC}
tr#TBL-26-312-{background-color:#FFFFFF}
tr#TBL-26-313-{background-color:#ECECEC}
tr#TBL-26-314-{background-color:#FFFFFF}
tr#TBL-26-315-{background-color:#ECECEC}
tr#TBL-26-316-{background-color:#FFFFFF}
tr#TBL-26-317-{background-color:#ECECEC}
tr#TBL-26-318-{background-color:#FFFFFF}
tr#TBL-26-319-{background-color:#ECECEC}
tr#TBL-26-320-{background-color:#FFFFFF}
tr#TBL-26-321-{background-color:#ECECEC}
tr#TBL-26-322-{background-color:#FFFFFF}
tr#TBL-26-323-{background-color:#ECECEC}
tr#TBL-26-324-{background-color:#FFFFFF}
tr#TBL-26-325-{background-color:#ECECEC}
#TBL-31-1{border-left: 1px solid #000;}
#TBL-31-1{border-right:1px solid #000;}
#TBL-31-2{border-right:1px solid #000;}
#TBL-31-3{border-right:1px solid #000;}
#TBL-31-4{border-right:1px solid #000;}
tr#TBL-31-402-{background-color:#FFFFFF}
tr#TBL-31-403-{background-color:#ECECEC}
td#TBL-31-2-1{border-left:1px solid #000;border-right:1px solid #000;}
td#TBL-31-2-1{border-left:1px solid #000;border-right:1px solid #000;}
tr#TBL-31-404-{background-color:#FFFFFF}
tr#TBL-31-405-{background-color:#ECECEC}
td#TBL-31-4-1{border-left:1px solid #000;border-right:1px solid #000;}
td#TBL-31-4-1{border-left:1px solid #000;border-right:1px solid #000;}
tr#TBL-31-406-{background-color:#FFFFFF}
td#TBL-31-5-1{border-left:1px solid #000;border-right:1px solid #000;}
td#TBL-31-5-1{border-left:1px solid #000;border-right:1px solid #000;}
tr#TBL-31-407-{background-color:#ECECEC}
tr#TBL-31-408-{background-color:#FFFFFF}
tr#TBL-31-409-{background-color:#ECECEC}
tr#TBL-31-410-{background-color:#FFFFFF}
td#TBL-31-9-1{border-left:1px solid #000;border-right:1px solid #000;}
td#TBL-31-9-1{border-left:1px solid #000;border-right:1px solid #000;}
tr#TBL-31-411-{background-color:#ECECEC}
td#TBL-31-10-1{border-left:1px solid #000;border-right:1px solid #000;}
td#TBL-31-10-1{border-left:1px solid #000;border-right:1px solid #000;}
tr#TBL-31-412-{background-color:#FFFFFF}
td#TBL-31-11-1{border-left:1px solid #000;border-right:1px solid #000;}
td#TBL-31-11-1{border-left:1px solid #000;border-right:1px solid #000;}
tr#TBL-31-413-{background-color:#ECECEC}
td#TBL-31-12-1{border-left:1px solid #000;border-right:1px solid #000;}
td#TBL-31-12-1{border-left:1px solid #000;border-right:1px solid #000;}
tr#TBL-31-414-{background-color:#FFFFFF}
td#TBL-31-13-1{border-left:1px solid #000;border-right:1px solid #000;}
td#TBL-31-13-1{border-left:1px solid #000;border-right:1px solid #000;}
tr#TBL-31-415-{background-color:#ECECEC}
td#TBL-31-14-1{border-left:1px solid #000;border-right:1px solid #000;}
td#TBL-31-14-1{border-left:1px solid #000;border-right:1px solid #000;}
tr#TBL-31-416-{background-color:#FFFFFF}
td#TBL-31-15-1{border-left:1px solid #000;border-right:1px solid #000;}
td#TBL-31-15-1{border-left:1px solid #000;border-right:1px solid #000;}
tr#TBL-31-417-{background-color:#ECECEC}
td#TBL-31-16-1{border-left:1px solid #000;border-right:1px solid #000;}
td#TBL-31-16-1{border-left:1px solid #000;border-right:1px solid #000;}
tr#TBL-31-418-{background-color:#FFFFFF}
td#TBL-31-17-1{border-left:1px solid #000;border-right:1px solid #000;}
td#TBL-31-17-1{border-left:1px solid #000;border-right:1px solid #000;}
tr#TBL-31-419-{background-color:#ECECEC}
tr#TBL-31-420-{background-color:#FFFFFF}
tr#TBL-31-421-{background-color:#ECECEC}
tr#TBL-31-422-{background-color:#FFFFFF}
tr#TBL-31-423-{background-color:#ECECEC}
tr#TBL-31-424-{background-color:#FFFFFF}
#TBL-36-1{border-left: 1px solid #000;}
#TBL-36-1{border-right:1px solid #000;}
#TBL-36-2{border-right:1px solid #000;}
#TBL-36-3{border-right:1px solid #000;}
tr#TBL-36-493-{background-color:#ECECEC}
tr#TBL-36-494-{background-color:#FFFFFF}
td#TBL-36-2-1{border-left:1px solid #000;border-right:1px solid #000;}
tr#TBL-36-495-{background-color:#ECECEC}
tr#TBL-36-496-{background-color:#FFFFFF}
tr#TBL-36-497-{background-color:#ECECEC}
tr#TBL-36-498-{background-color:#FFFFFF}
tr#TBL-36-499-{background-color:#ECECEC}
tr#TBL-36-500-{background-color:#FFFFFF}
tr#TBL-36-501-{background-color:#ECECEC}
tr#TBL-36-502-{background-color:#FFFFFF}
tr#TBL-36-503-{background-color:#ECECEC}
tr#TBL-36-504-{background-color:#FFFFFF}
tr#TBL-36-505-{background-color:#ECECEC}
td#TBL-36-2-1{border-left:1px solid #000;border-right:1px solid #000;border-left:1px solid #000;border-right:1px solid #000;border-right:1px solid #000;border-right:1px solid #000;}
tr#TBL-36-506-{background-color:#FFFFFF}
td#TBL-36-3-1{border-left:1px solid #000;border-right:1px solid #000;}
td#TBL-36-3-1{border-left:1px solid #000;border-right:1px solid #000;}
tr#TBL-36-507-{background-color:#ECECEC}
td#TBL-36-4-1{border-left:1px solid #000;border-right:1px solid #000;}
td#TBL-36-4-1{border-left:1px solid #000;border-right:1px solid #000;}
tr#TBL-36-508-{background-color:#FFFFFF}
tr#TBL-36-509-{background-color:#ECECEC}
tr#TBL-36-510-{background-color:#FFFFFF}
tr#TBL-36-511-{background-color:#ECECEC}
tr#TBL-36-512-{background-color:#FFFFFF}
tr#TBL-36-513-{background-color:#ECECEC}
#TBL-41-1{border-left: 1px solid #000;}
#TBL-41-1{border-right:1px solid #000;}
#TBL-41-2{border-right:1px solid #000;}
#TBL-41-3{border-right:1px solid #000;}
tr#TBL-41-570-{background-color:#FFFFFF}
tr#TBL-41-571-{background-color:#ECECEC}
td#TBL-41-2-1{border-left:1px solid #000;border-right:1px solid #000;}
tr#TBL-41-572-{background-color:#FFFFFF}
tr#TBL-41-573-{background-color:#ECECEC}
tr#TBL-41-574-{background-color:#FFFFFF}
tr#TBL-41-575-{background-color:#ECECEC}
tr#TBL-41-576-{background-color:#FFFFFF}
tr#TBL-41-577-{background-color:#ECECEC}
tr#TBL-41-578-{background-color:#FFFFFF}
tr#TBL-41-579-{background-color:#ECECEC}
td#TBL-41-2-1{border-left:1px solid #000;border-right:1px solid #000;border-left:1px solid #000;border-right:1px solid #000;border-right:1px solid #000;border-right:1px solid #000;}
tr#TBL-41-580-{background-color:#FFFFFF}
td#TBL-41-3-1{border-left:1px solid #000;border-right:1px solid #000;}
td#TBL-41-3-1{border-left:1px solid #000;border-right:1px solid #000;}
tr#TBL-41-581-{background-color:#ECECEC}
td#TBL-41-4-1{border-left:1px solid #000;border-right:1px solid #000;}
td#TBL-41-4-1{border-left:1px solid #000;border-right:1px solid #000;}
tr#TBL-41-582-{background-color:#FFFFFF}
tr#TBL-41-583-{background-color:#ECECEC}
tr#TBL-41-584-{background-color:#FFFFFF}
tr#TBL-41-585-{background-color:#ECECEC}
tr#TBL-41-586-{background-color:#FFFFFF}
tr#TBL-41-587-{background-color:#ECECEC}
#TBL-46-1{border-left: 1px solid #000;}
#TBL-46-1{border-right:1px solid #000;}
#TBL-46-2{border-right:1px solid #000;}
#TBL-46-3{border-right:1px solid #000;}
tr#TBL-46-660-{background-color:#FFFFFF}
tr#TBL-46-661-{background-color:#ECECEC}
td#TBL-46-2-1{border-left:1px solid #000;border-right:1px solid #000;}
tr#TBL-46-662-{background-color:#FFFFFF}
tr#TBL-46-663-{background-color:#ECECEC}
tr#TBL-46-664-{background-color:#FFFFFF}
tr#TBL-46-665-{background-color:#ECECEC}
tr#TBL-46-666-{background-color:#FFFFFF}
tr#TBL-46-667-{background-color:#ECECEC}
tr#TBL-46-668-{background-color:#FFFFFF}
tr#TBL-46-669-{background-color:#ECECEC}
tr#TBL-46-670-{background-color:#FFFFFF}
tr#TBL-46-671-{background-color:#ECECEC}
tr#TBL-46-672-{background-color:#FFFFFF}
tr#TBL-46-673-{background-color:#ECECEC}
td#TBL-46-2-1{border-left:1px solid #000;border-right:1px solid #000;border-left:1px solid #000;border-right:1px solid #000;border-right:1px solid #000;border-right:1px solid #000;}
tr#TBL-46-674-{background-color:#FFFFFF}
td#TBL-46-3-1{border-left:1px solid #000;border-right:1px solid #000;}
td#TBL-46-3-1{border-left:1px solid #000;border-right:1px solid #000;}
tr#TBL-46-675-{background-color:#ECECEC}
td#TBL-46-4-1{border-left:1px solid #000;border-right:1px solid #000;}
td#TBL-46-4-1{border-left:1px solid #000;border-right:1px solid #000;}
tr#TBL-46-676-{background-color:#FFFFFF}
tr#TBL-46-677-{background-color:#ECECEC}
tr#TBL-46-678-{background-color:#FFFFFF}
tr#TBL-46-679-{background-color:#ECECEC}
tr#TBL-46-680-{background-color:#FFFFFF}
tr#TBL-46-681-{background-color:#ECECEC}
#TBL-51-1{border-left: 1px solid #000;}
#TBL-51-1{border-right:1px solid #000;}
#TBL-51-2{border-right:1px solid #000;}
#TBL-51-3{border-right:1px solid #000;}
tr#TBL-51-762-{background-color:#FFFFFF}
tr#TBL-51-763-{background-color:#ECECEC}
td#TBL-51-2-1{border-left:1px solid #000;border-right:1px solid #000;}
tr#TBL-51-764-{background-color:#FFFFFF}
tr#TBL-51-765-{background-color:#ECECEC}
tr#TBL-51-766-{background-color:#FFFFFF}
tr#TBL-51-767-{background-color:#ECECEC}
tr#TBL-51-768-{background-color:#FFFFFF}
tr#TBL-51-769-{background-color:#ECECEC}
tr#TBL-51-770-{background-color:#FFFFFF}
tr#TBL-51-771-{background-color:#ECECEC}
tr#TBL-51-772-{background-color:#FFFFFF}
tr#TBL-51-773-{background-color:#ECECEC}
tr#TBL-51-774-{background-color:#FFFFFF}
tr#TBL-51-775-{background-color:#ECECEC}
tr#TBL-51-776-{background-color:#FFFFFF}
tr#TBL-51-777-{background-color:#ECECEC}
td#TBL-51-2-1{border-left:1px solid #000;border-right:1px solid #000;border-left:1px solid #000;border-right:1px solid #000;border-right:1px solid #000;border-right:1px solid #000;}
tr#TBL-51-778-{background-color:#FFFFFF}
td#TBL-51-3-1{border-left:1px solid #000;border-right:1px solid #000;}
td#TBL-51-3-1{border-left:1px solid #000;border-right:1px solid #000;}
tr#TBL-51-779-{background-color:#ECECEC}
td#TBL-51-4-1{border-left:1px solid #000;border-right:1px solid #000;}
td#TBL-51-4-1{border-left:1px solid #000;border-right:1px solid #000;}
tr#TBL-51-780-{background-color:#FFFFFF}
tr#TBL-51-781-{background-color:#ECECEC}
tr#TBL-51-782-{background-color:#FFFFFF}
tr#TBL-51-783-{background-color:#ECECEC}
tr#TBL-51-784-{background-color:#FFFFFF}
tr#TBL-51-785-{background-color:#ECECEC}
#TBL-56-1{border-left: 1px solid #000;}
#TBL-56-1{border-right:1px solid #000;}
#TBL-56-2{border-right:1px solid #000;}
#TBL-56-3{border-right:1px solid #000;}
tr#TBL-56-850-{background-color:#FFFFFF}
tr#TBL-56-851-{background-color:#ECECEC}
td#TBL-56-2-1{border-left:1px solid #000;border-right:1px solid #000;}
tr#TBL-56-852-{background-color:#FFFFFF}
tr#TBL-56-853-{background-color:#ECECEC}
tr#TBL-56-854-{background-color:#FFFFFF}
tr#TBL-56-855-{background-color:#ECECEC}
tr#TBL-56-856-{background-color:#FFFFFF}
tr#TBL-56-857-{background-color:#ECECEC}
tr#TBL-56-858-{background-color:#FFFFFF}
tr#TBL-56-859-{background-color:#ECECEC}
tr#TBL-56-860-{background-color:#FFFFFF}
tr#TBL-56-861-{background-color:#ECECEC}
td#TBL-56-2-1{border-left:1px solid #000;border-right:1px solid #000;border-left:1px solid #000;border-right:1px solid #000;border-right:1px solid #000;border-right:1px solid #000;}
tr#TBL-56-862-{background-color:#FFFFFF}
td#TBL-56-3-1{border-left:1px solid #000;border-right:1px solid #000;}
td#TBL-56-3-1{border-left:1px solid #000;border-right:1px solid #000;}
tr#TBL-56-863-{background-color:#ECECEC}
td#TBL-56-4-1{border-left:1px solid #000;border-right:1px solid #000;}
td#TBL-56-4-1{border-left:1px solid #000;border-right:1px solid #000;}
tr#TBL-56-864-{background-color:#FFFFFF}
tr#TBL-56-865-{background-color:#ECECEC}
tr#TBL-56-866-{background-color:#FFFFFF}
tr#TBL-56-867-{background-color:#ECECEC}
tr#TBL-56-868-{background-color:#FFFFFF}
tr#TBL-56-869-{background-color:#ECECEC}
#TBL-61-1{border-left: 1px solid #000;}
#TBL-61-1{border-right:1px solid #000;}
#TBL-61-2{border-right:1px solid #000;}
#TBL-61-3{border-right:1px solid #000;}
tr#TBL-61-934-{background-color:#FFFFFF}
tr#TBL-61-935-{background-color:#ECECEC}
td#TBL-61-2-1{border-left:1px solid #000;border-right:1px solid #000;}
tr#TBL-61-936-{background-color:#FFFFFF}
tr#TBL-61-937-{background-color:#ECECEC}
tr#TBL-61-938-{background-color:#FFFFFF}
tr#TBL-61-939-{background-color:#ECECEC}
tr#TBL-61-940-{background-color:#FFFFFF}
tr#TBL-61-941-{background-color:#ECECEC}
tr#TBL-61-942-{background-color:#FFFFFF}
tr#TBL-61-943-{background-color:#ECECEC}
tr#TBL-61-944-{background-color:#FFFFFF}
tr#TBL-61-945-{background-color:#ECECEC}
td#TBL-61-2-1{border-left:1px solid #000;border-right:1px solid #000;border-left:1px solid #000;border-right:1px solid #000;border-right:1px solid #000;border-right:1px solid #000;}
tr#TBL-61-946-{background-color:#FFFFFF}
td#TBL-61-3-1{border-left:1px solid #000;border-right:1px solid #000;}
td#TBL-61-3-1{border-left:1px solid #000;border-right:1px solid #000;}
tr#TBL-61-947-{background-color:#ECECEC}
td#TBL-61-4-1{border-left:1px solid #000;border-right:1px solid #000;}
td#TBL-61-4-1{border-left:1px solid #000;border-right:1px solid #000;}
tr#TBL-61-948-{background-color:#FFFFFF}
tr#TBL-61-949-{background-color:#ECECEC}
tr#TBL-61-950-{background-color:#FFFFFF}
tr#TBL-61-951-{background-color:#ECECEC}
tr#TBL-61-952-{background-color:#FFFFFF}
tr#TBL-61-953-{background-color:#ECECEC}
#TBL-66-1{border-left: 1px solid #000;}
#TBL-66-1{border-right:1px solid #000;}
#TBL-66-2{border-right:1px solid #000;}
#TBL-66-3{border-right:1px solid #000;}
tr#TBL-66-1010-{background-color:#FFFFFF}
tr#TBL-66-1011-{background-color:#ECECEC}
td#TBL-66-2-1{border-left:1px solid #000;border-right:1px solid #000;}
tr#TBL-66-1012-{background-color:#FFFFFF}
tr#TBL-66-1013-{background-color:#ECECEC}
tr#TBL-66-1014-{background-color:#FFFFFF}
tr#TBL-66-1015-{background-color:#ECECEC}
tr#TBL-66-1016-{background-color:#FFFFFF}
tr#TBL-66-1017-{background-color:#ECECEC}
tr#TBL-66-1018-{background-color:#FFFFFF}
tr#TBL-66-1019-{background-color:#ECECEC}
td#TBL-66-2-1{border-left:1px solid #000;border-right:1px solid #000;border-left:1px solid #000;border-right:1px solid #000;border-right:1px solid #000;border-right:1px solid #000;}
tr#TBL-66-1020-{background-color:#FFFFFF}
td#TBL-66-3-1{border-left:1px solid #000;border-right:1px solid #000;}
td#TBL-66-3-1{border-left:1px solid #000;border-right:1px solid #000;}
tr#TBL-66-1021-{background-color:#ECECEC}
td#TBL-66-4-1{border-left:1px solid #000;border-right:1px solid #000;}
td#TBL-66-4-1{border-left:1px solid #000;border-right:1px solid #000;}
tr#TBL-66-1022-{background-color:#FFFFFF}
tr#TBL-66-1023-{background-color:#ECECEC}
tr#TBL-66-1024-{background-color:#FFFFFF}
tr#TBL-66-1025-{background-color:#ECECEC}
tr#TBL-66-1026-{background-color:#FFFFFF}
tr#TBL-66-1027-{background-color:#ECECEC}
#TBL-71-1{border-left: 1px solid #000;}
#TBL-71-1{border-right:1px solid #000;}
#TBL-71-2{border-right:1px solid #000;}
#TBL-71-3{border-right:1px solid #000;}
tr#TBL-71-1088-{background-color:#FFFFFF}
tr#TBL-71-1089-{background-color:#ECECEC}
td#TBL-71-2-1{border-left:1px solid #000;border-right:1px solid #000;}
tr#TBL-71-1090-{background-color:#FFFFFF}
tr#TBL-71-1091-{background-color:#ECECEC}
tr#TBL-71-1092-{background-color:#FFFFFF}
tr#TBL-71-1093-{background-color:#ECECEC}
tr#TBL-71-1094-{background-color:#FFFFFF}
tr#TBL-71-1095-{background-color:#ECECEC}
tr#TBL-71-1096-{background-color:#FFFFFF}
tr#TBL-71-1097-{background-color:#ECECEC}
tr#TBL-71-1098-{background-color:#FFFFFF}
td#TBL-71-2-1{border-left:1px solid #000;border-right:1px solid #000;border-left:1px solid #000;border-right:1px solid #000;border-right:1px solid #000;border-right:1px solid #000;}
tr#TBL-71-1099-{background-color:#ECECEC}
td#TBL-71-3-1{border-left:1px solid #000;border-right:1px solid #000;}
td#TBL-71-3-1{border-left:1px solid #000;border-right:1px solid #000;}
tr#TBL-71-1100-{background-color:#FFFFFF}
td#TBL-71-4-1{border-left:1px solid #000;border-right:1px solid #000;}
td#TBL-71-4-1{border-left:1px solid #000;border-right:1px solid #000;}
tr#TBL-71-1101-{background-color:#ECECEC}
tr#TBL-71-1102-{background-color:#FFFFFF}
tr#TBL-71-1103-{background-color:#ECECEC}
tr#TBL-71-1104-{background-color:#FFFFFF}
tr#TBL-71-1105-{background-color:#ECECEC}
tr#TBL-71-1106-{background-color:#FFFFFF}
#TBL-76-1{border-left: 1px solid #000;}
#TBL-76-1{border-right:1px solid #000;}
#TBL-76-2{border-right:1px solid #000;}
#TBL-76-3{border-right:1px solid #000;}
tr#TBL-76-1171-{background-color:#ECECEC}
tr#TBL-76-1172-{background-color:#FFFFFF}
td#TBL-76-2-1{border-left:1px solid #000;border-right:1px solid #000;}
tr#TBL-76-1173-{background-color:#ECECEC}
tr#TBL-76-1174-{background-color:#FFFFFF}
tr#TBL-76-1175-{background-color:#ECECEC}
tr#TBL-76-1176-{background-color:#FFFFFF}
tr#TBL-76-1177-{background-color:#ECECEC}
tr#TBL-76-1178-{background-color:#FFFFFF}
tr#TBL-76-1179-{background-color:#ECECEC}
tr#TBL-76-1180-{background-color:#FFFFFF}
tr#TBL-76-1181-{background-color:#ECECEC}
tr#TBL-76-1182-{background-color:#FFFFFF}
td#TBL-76-2-1{border-left:1px solid #000;border-right:1px solid #000;border-left:1px solid #000;border-right:1px solid #000;border-right:1px solid #000;border-right:1px solid #000;}
tr#TBL-76-1183-{background-color:#ECECEC}
td#TBL-76-3-1{border-left:1px solid #000;border-right:1px solid #000;}
td#TBL-76-3-1{border-left:1px solid #000;border-right:1px solid #000;}
tr#TBL-76-1184-{background-color:#FFFFFF}
td#TBL-76-4-1{border-left:1px solid #000;border-right:1px solid #000;}
td#TBL-76-4-1{border-left:1px solid #000;border-right:1px solid #000;}
tr#TBL-76-1185-{background-color:#ECECEC}
tr#TBL-76-1186-{background-color:#FFFFFF}
tr#TBL-76-1187-{background-color:#ECECEC}
tr#TBL-76-1188-{background-color:#FFFFFF}
tr#TBL-76-1189-{background-color:#ECECEC}
tr#TBL-76-1190-{background-color:#FFFFFF}
#TBL-81-1{border-left: 1px solid #000;}
#TBL-81-1{border-right:1px solid #000;}
#TBL-81-2{border-right:1px solid #000;}
#TBL-81-3{border-right:1px solid #000;}
tr#TBL-81-1255-{background-color:#ECECEC}
tr#TBL-81-1256-{background-color:#FFFFFF}
td#TBL-81-2-1{border-left:1px solid #000;border-right:1px solid #000;}
tr#TBL-81-1257-{background-color:#ECECEC}
tr#TBL-81-1258-{background-color:#FFFFFF}
tr#TBL-81-1259-{background-color:#ECECEC}
tr#TBL-81-1260-{background-color:#FFFFFF}
tr#TBL-81-1261-{background-color:#ECECEC}
tr#TBL-81-1262-{background-color:#FFFFFF}
tr#TBL-81-1263-{background-color:#ECECEC}
tr#TBL-81-1264-{background-color:#FFFFFF}
tr#TBL-81-1265-{background-color:#ECECEC}
tr#TBL-81-1266-{background-color:#FFFFFF}
td#TBL-81-2-1{border-left:1px solid #000;border-right:1px solid #000;border-left:1px solid #000;border-right:1px solid #000;border-right:1px solid #000;border-right:1px solid #000;}
tr#TBL-81-1267-{background-color:#ECECEC}
td#TBL-81-3-1{border-left:1px solid #000;border-right:1px solid #000;}
td#TBL-81-3-1{border-left:1px solid #000;border-right:1px solid #000;}
tr#TBL-81-1268-{background-color:#FFFFFF}
td#TBL-81-4-1{border-left:1px solid #000;border-right:1px solid #000;}
td#TBL-81-4-1{border-left:1px solid #000;border-right:1px solid #000;}
tr#TBL-81-1269-{background-color:#ECECEC}
tr#TBL-81-1270-{background-color:#FFFFFF}
tr#TBL-81-1271-{background-color:#ECECEC}
tr#TBL-81-1272-{background-color:#FFFFFF}
tr#TBL-81-1273-{background-color:#ECECEC}
tr#TBL-81-1274-{background-color:#FFFFFF}
/* end css.sty */

